bs4==0.0.1
Flask==2.2.2
Flask-WTF==1.0.1
gunicorn==20.1.0
lxml==4.9.2
matplotlib==3.6.3
mplfinance==0.12.9b7
pandas==1.5.3
polygon-api-client==1.5.0
python-dotenv==0.21.0
selenium==4.8.0
textblob==0.17.1
tweepy==4.12.1
wordcloud==1.8.2.2