{% extends "template.html" %}
{% block title %}Educate{% endblock title %}
{% block pageTitle %}{% block educateTitle%}{% endblock educateTitle %}{% endblock pageTitle %}
{% block navLink %}home{% endblock navLink %}
{% block breadcrumbs %}
<div class="text-sm breadcrumbs">
    <ul>
      <li><a href="/education">Education</a></li> 
      <li><a href="/education/{% block categoryLink %}{% endblock categoryLink %}">{% block categoryTitle %}{% endblock categoryTitle %}</a></li>
      <li><a href="">{% block headerTitle %}{% endblock headerTitle %}</a></li> 
    </ul>
  </div>
{% endblock breadcrumbs %}
{% block body %}
  {{ super() }}
  
  {% block image %}
  {% endblock image %}
  {% block content %}{% endblock content %}


{% endblock body %}