{% extends "template.html" %}
{% block title %}Home{% endblock title %}
{% block pageTitle %}Statistics{% endblock pageTitle %}
{% block wholebody %}
{{ super() }}
<div class="carousel w-full h-full">
  <div id="slide1" class="carousel-item relative w-full h-full items-center justify-center">
    <div class="grid grid-cols-3 gap-x-14 gap-y-24">
      <!-- 1 --> {{ macros.card( 
        title='P/E Ratio',
        text='What is P/E Ratio, and what do the different types mean?',
        button='Learn More',
        buttonLink='statistics/pe-ratio',
        button_external='',
        verified_tweet=''
      ) }}
      <!-- 2 --> {{ macros.card( 
        title='Bollinger Bands',
        text='How can Bollinger Bands aid in maximizing the amount of information you have about a stock?',
        button='Learn More',
        buttonLink='statistics/bollinger-bands',
        button_external='',
        verified_tweet=''
      ) }}
      <!-- 3 --> {{ macros.card( 
        title='Chaikin Oscillator',
        text='How can the Chaikin Oscillator help decide which stock to invest in?',
        button='Learn More',
        buttonLink='statistics/chaikin-oscillator',
        button_external='',
        verified_tweet=''
      ) }}
      <!-- 4 --> {{ macros.card( 
        title='P/E Ratio',
        text='What is P/E Ratio, and what do the different types mean?',
        button='Learn More',
        buttonLink='statistics/pe-ratio',
        button_external='',
        verified_tweet=''
      ) }}
      <!-- 5 --> {{ macros.card( 
        title='P/E Ratio',
        text='What is P/E Ratio, and what do the different types mean?',
        button='Learn More',
        buttonLink='statistics/pe-ratio',
        button_external='',
        verified_tweet=''
      ) }}
      <!-- 6 --> {{ macros.card( 
        title='P/E Ratio',
        text='What is P/E Ratio, and what do the different types mean?',
        button='Learn More',
        buttonLink='statistics/pe-ratio',
        button_external='',
        verified_tweet=''
      ) }}
      <!-- 7 --> {{ macros.card( 
        title='P/E Ratio',
        text='What is P/E Ratio, and what do the different types mean?',
        button='Learn More',
        buttonLink='statistics/pe-ratio',
        button_external='',
        verified_tweet=''
      ) }}
      <!-- 8 --> {{ macros.card( 
        title='P/E Ratio',
        text='What is P/E Ratio, and what do the different types mean?',
        button='Learn More',
        buttonLink='statistics/pe-ratio',
        button_external='',
        verified_tweet=''
      ) }}
      <!-- 9 --> {{ macros.card( 
        title='P/E Ratio',
        text='What is P/E Ratio, and what do the different types mean?',
        button='Learn More',
        buttonLink='statistics/pe-ratio',
        button_external='',
        verified_tweet=''
      ) }}
    </div>
  </div> 
  <div id="slide2" class="carousel-item relative w-full h-full">
    
  </div> 
  <div id="slide3" class="carousel-item relative w-full h-full">
    
  </div> 
  <div id="slide4" class="carousel-item relative w-full h-full">
    
  </div>
</div>
{% endblock wholebody %}