{% extends "template.html" %}
{% block title %}Home{% endblock title %}
{% block pageTitle %}Statistics{% endblock pageTitle %}
{% block wholebody %}
{{ super() }}
<div class="carousel w-full h-full">
  <div id="slide1" class="carousel-item relative w-full h-full">
    <div class="grid grid-cols-3 grid-rows-3 h-full mx-20">
      {{ macros.card(
        title='P/E Ratio',
        text='What is P/E Ratio, and what do the different types mean?',
        button='Learn More',
        buttonLink='statistics/pe-ratio',
        button_external='',
        verified_tweet=''
      ) }}
    </div>
  </div> 
  <div id="slide2" class="carousel-item relative w-full h-full">
    
  </div> 
  <div id="slide3" class="carousel-item relative w-full h-full">
    
  </div> 
  <div id="slide4" class="carousel-item relative w-full h-full">
    
  </div>
</div>
{% endblock wholebody %}