{% extends "template.html" %}
{% block title %}Tax Calculator{% endblock title %}
{% block pageTitle %}Tax Calculator{% endblock pageTitle %}
{% block body %}
{{ super() }}
  <div class="divider my-5">
    <h1 class="text-4xl font-bold">Capital Gains Tax Calculator</h1>
  </div>
   <p>At Investify, our goal is to empower individuals to make informed investment decisions and manage their finances effectively. As part of our commitment to providing comprehensive financial tools, we have developed the Investify Capital Gains Tax Calculator.

    The Investify Capital Gains Tax Calculator is a valuable tool designed to simplify and streamline the complex process of calculating the tax owed on capital gains. When individuals sell assets, such as stocks, they often face tax obligations on the profits earned from those sales. Determining the exact amount of tax owed can involve various factors, such as the holding period, cost basis, selling price, and applicable tax rates based on an individual's taxable income.
    </p>
    <div class="relative">
    <input type="number" step="0.01" id="selling_price" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
    <label for="selling_price" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Selling Price</label>
  </div>
  <br>
  <div class="relative">
      <input type="number" step="0.01" id="cost_basis" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
      <label for="cost_basis" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Cost cost basis</label>
    </div>
  <br>
    <div class="relative">
      <input type="number" step="0.01" id="holding_period" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
      <label for="holding_period" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Holding period</label>
    </div>
  <br>
    <div class="relative">
      <input type="number" step="0.01" id="taxable_income" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
      <label for="taxable_income" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Taxable taxable income</label>
    </div>
  <br>
  
  <button onclick="calculateTax()">Calculate</button>
  
  <div id="result" class="mt-12">
      <div class="divider my-12">
        <h1 class="text-4xl font-bold">Results:</h1>
      </div>
      <div class="divider my-12">
        <h1 class="text-2xl font-semibold">Caital Gains Tax</h1>
      </div>
      <h1 class="text-xl t font-medium">$32.55</h1>

  </div>
</div>

{% endblock body %}
{% block results %}{% endblock results %}