{% extends "template.html" %}
{% block title %}Tax Calculator{% endblock title %}
{% block pageTitle %}Tax Calculator{% endblock pageTitle %}
{% block body %}
{{ super() }}
  <div class="flex flex-row justify-center my-5 max-w-screen mx-auto px-[5vw]">
    <span class="tooltip tooltip-bottom " data-tip="This calculator simplifies calculating the tax owed on capital gains. When people sell assets, they face taxes on the profits."><button class="btn">?</button></span>
    <h1 class="text-4xl font-bold break-word">Capital Gains Tax Calculator</h1>
  </div>
  <form class="container transition-all mx-auto px-[5vw]">
    <div class="relative my-6">
      <input type="number" step="0.01" id="selling_price" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
      <label for="selling_price" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Selling Price ($)</label>
    </div>
    <div class="relative my-6">
        <input type="number" step="0.01" id="cost_basis" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="cost_basis" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Purchase Price($)</label>
    </div>
      <div class="relative my-6">
        <input type="number" step="0.01" id="holding_period" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="holding_period" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Holding period (Years)</label>
      </div>
      <div class="relative my-6">
        <input type="number" step="0.01" id="taxable_income" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="taxable_income" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Taxable Income ($)</label>
      </div>
    
    <button id="calculate-tax" class="btn btn-primary col-span-2 border-indigo-400 bg-transparent gradient-border hover:border-transparent transition-all w-full" type="submit">Calculate</button>
  </form>
  <div id="result" class="mt-20 hidden container transition-all mx-auto px-[5vw]">
      <div class="divider my-12">
        <h1 class="text-5xl font-bold break-word">Capital Gains Tax:</h1>
      </div>

      <h1 class="text-lg md:text-xl font-medium break-word transition-all">Look up the Tax Rate from the Short-Term table if the holding period is \( \le 1yr \). Otherwise, look up Tax Rate from the Long-Term table.</h1>
      <h1 class="text-lg md:text-xl font-medium break-word transition-all">\[ \text{Capital Gain} = \text{Selling Price} - \text{Purchase Price} \]</h1>
      <div class="flex flex-row items-center self-stretch h-4 whitespace-nowrap my-12 text-center justify-center text-xl">
        <h1 class="text-2xl md:text-3xl font-semibold break-word transition-all">\( \text{Capital Gains Tax} = \text{Capital Gain} * \text{Tax Rate} = {} \)</h3>
        <span id="capital-gains-tax" class="w-12 text-2xl md:text-3xl font-semibold break-word transition-all">
        </span>
      </div>

      <div class="grid grid-cols-2 justify-center py-12 text-center gap-4">
        <div class="col-span-2 md:col-span-1 mx-auto">
          <h1 class="text-xl font-medium">Short-Term Tax Rate:</h1>
          <table class="table table-zebra text-white">
            <thead>
              <tr class="text-2xl">
                <th class="text-xl">Taxable Income</th>
                <th class="text-xl">Tax Rate</th>
              </tr>
            </thead>
            <tbody>
              <!--
                (9875, 0.1),
                (40125, 0.12),
                (85525, 0.22),
                (163300, 0.24),
                (207350, 0.32),
                (518400, 0.35),
                (float('inf'), 0.37)
              -->
                <tr class="hover">
                  <th class="font-light">$9875</th>
                  <th class="font-light">10%</th>
                </tr>
                <tr class="hover">
                  <th class="font-light">$40125</th>
                  <th class="font-light">12%</th>
                </tr>
                <tr class="hover">
                  <th class="font-light">$85525</th>
                  <th class="font-light">22%</th>
                </tr>
                <tr class="hover">
                  <th class="font-light">$163300</th>
                  <th class="font-light">24%</th>
                </tr>
                <tr class="hover">
                  <th class="font-light">$207350</th>
                  <th class="font-light">32%</th>
                </tr>
                <tr class="hover">
                  <th class="font-light">$518400</th>
                  <th class="font-light">35%</th>
                </tr>
                <tr class="hover">
                  <th class="font-light">Higher</th>
                  <th class="font-light">37%</th>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="col-span-2 md:col-span-1 mx-auto">
          <h3 class="text-xl font-medium">Long-Term Tax Rates:</h3>
          <table class="table table-zebra text-white">
            <thead>
              <tr class="text-2xl">
                <th class="text-xl">Taxable Income</th>
                <th class="text-xl">Tax Rate</th>
              </tr>
            </thead>
            <tbody>
              <!--
                (40100, 0),
                (445850, 0.15),
                (501600, 0.2),
                (float('inf'), 0.23)
              -->
                <tr class="hover">
                  <th class="font-light">$40100</th>
                  <th class="font-light">10%</th>
                </tr>
                <tr class="hover">
                  <th class="font-light">$445850</th>
                  <th class="font-light">15%</th>
                </tr>
                <tr class="hover">
                  <th class="font-light">$501600</th>
                  <th class="font-light">20%</th>
                </tr>
                <tr class="hover">
                  <th class="font-light">Higher</th>
                  <th class="font-light">23%</th>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
      </table>
  </div>
</div>

{% endblock body %}

{% block script %}
<script src="{{ url_for('static', filename = 'js/tax_calculator.js') }}"></script>
{% endblock script %}