{% extends "template.html" %}
{% block title %}Paper Trading - Exercise{% endblock title %}
{% block pageTitle %}Paper Trading - Exercise{% endblock pageTitle %}
{% block body %}
{{ super() }}
<form class="form-control min-w-full ml-2" role="search" method="POST" action="" autocapitalize="characters" autocomplete="off">
  <div class="text-white font-bold text-4xl mb-6">
    <h1> Exercise Stocks:</h1>
  </div>
    <div class="grid grid-cols-2 gap-6 gap-x-12 px-[5vw]">
        <div class="col-span-2 sm:col-span-1 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
            <p>Ticker: {{option['ticker'].upper()}}</p>
        </div>
        <div class="col-span-2 sm:col-span-1 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
            <p>Quantity: {{option['quantity']}}</p>
        </div>
        <div class="col-span-2 sm:col-span-1 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
            <p>Option Type: {{option['type'].capitalize()}}</p>
        </div>
        <div class="col-span-2 sm:col-span-1 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
            <p>Premium: ${{'%0.2f' % option['premium'].__round__(2)}}</p>
        </div>
        <div class="col-span-2 sm:col-span-1 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
            <p>Strike Price: ${{'%0.2f' % option['strike'].__round__(2)}}</p>
        </div>
        <div class="col-span-2 sm:col-span-1 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
            <p>Market Price: ${{'%0.2f' % price.__round__(2)}}</p>
        </div>
        {% if gain >= 0 %}
            <div class="col-span-2 sm:col-span-1 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
                <p>Gain/Loss (w/o Premium): ${{ '%0.2f' % gain.__round__(2) }}</p>
            </div>
        {% else %}
        <div class="col-span-2 sm:col-span-1 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
            <p>Gain/Loss (w/o Premium): -${{ '%0.2f' % -gain.__round__(2) }}</p>
        </div>
        {% endif %}
        {% set gain_premium = gain - (option['quantity'] * option['premium']) %}
        {% if gain_premium >= 0 %}
            <div class="col-span-2 sm:col-span-1 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
                <p>Gain/Loss (w/ Premium): ${{ '%0.2f' % gain_premium.__round__(2) }}</p>
            </div>
        {% else %}
        <div class="col-span-2 sm:col-span-1 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
            <p>Gain/Loss (w/ Premium): -${{ '%0.2f' % -gain_premium.__round__(2) }}</p>
        </div>
        {% endif %}
        {% if paperTrader.has_fee %}
          <div class="col-span-2 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
            {% set FEE = 0.02 %}
            <p id="fee">Transaction Fee: ${{ '%0.2f' % (FEE * gain).__round__(2) }}</p>
          </div>
          {% endif %}
        {{confirm.confirm(class="btn btn-primary col-span-2 border-indigo-400 bg-transparent gradient-border hover:border-transparent transition-all")}}
    </div>
  </form>
{% endblock body %}
{{ super()}}
{% block search_results %}

{% if data != None %}
<div id="data">
  <h1 class="text-5xl text-primary mt-10 mb-10">Article Summary</h1>
  <h3 class="text-xl mt-10 mb-10">{{data}}</h3>
  <button class="btn btn-primary col-span-2 border-indigo-400 bg-transparent gradient-border hover:border-transparent transition-all inline-block"><a href="{{link}}" target="_blank">Go to Original Article</a></button>
</div>
{% endif %}
{% endblock search_results %}

{% block footerClass %}fixed-bottom{% endblock footerClass %}