{% extends "template.html" %}
{% block title %}Paper Trading - Short Sell{% endblock title %}
{% block pageTitle %}Paper Trading - Short Sell{% endblock pageTitle %}
{% block body %}
{{ super() }}
<form class="form-control min-w-full ml-2" role="search" method="POST" action="" autocapitalize="characters" autocomplete="off">
  <div class="text-white font-bold text-4xl mb-6">
    <h1> Short Sell Stocks:</h1>
  </div>
    <div class="grid grid-cols-2 gap-6 gap-x-12 px-[5vw]">
      {% if not shortPreviewPassed %}
        {% if shortStock.ticker.errors %}
        {{ shortStock.ticker(class="input col-span-2 sm:col-span-1 input-bordered w-full") }}
            {% for error in shortStock.ticker.errors %}
            <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
        {% else %}
            {{ shortStock.ticker(class="input col-span-2 sm:col-span-1 input-bordered w-full") }}
        {% endif %}
        {% if shortStock.quantity.errors %}
        {{ shortStock.quantity(class="input col-span-2 sm:col-span-1 input-bordered w-full") }}
            {% for error in shortStock.quantity.errors %}
            <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
        {% else %}
            {{ shortStock.quantity(class="input col-span-2 sm:col-span-1 input-bordered w-full") }}
        {% endif %}
        {{shortStock.submit(class="btn btn-primary col-span-2 border-indigo-400 bg-transparent gradient-border hover:border-transparent transition-all ")}}
      {% else %}
        <div class="col-span-2 sm:col-span-1 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
          <p>Ticker: {{ticker.upper()}}</p>
        </div>
        <div class="col-span-2 sm:col-span-1 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
          <p>Quantity: {{quantity}}</p>
        </div>
        <div class="col-span-2 sm:col-span-1 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
          <p>Price Per Share: ${{'%0.2f' % price.__round__(2)}}</p>
        </div>
        <div class="col-span-2 sm:col-span-1 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
          <p>Total Price: ${{ '%0.2f' % (price * quantity).__round__(2) }}</p>
        </div>
        {% if paperTrader.has_fee %}
        <div class="col-span-2 flex justify-center items-center text-white text-xl font-semibold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full w-full h-full py-2 mb-2 text-center">
          {% set FEE = 0.02 %}
          <p>Transaction Fee: ${{ '%0.2f' % (FEE * price * quantity).__round__(2) }}</p>
        </div>
        {% endif %}
        {{confirm.confirm(class="btn btn-primary col-span-2 border-indigo-400 bg-transparent gradient-border hover:border-transparent transition-all ")}}
      {% endif %}
    </div>
  </form>
{% endblock body %}
{{ super()}}
{% block search_results %}

{% if data != None %}
<div id="data">
  <h1 class="text-5xl text-primary mt-10 mb-10">Article Summary</h1>
  <h3 class="text-xl mt-10 mb-10">{{data}}</h3>
  <button class="btn btn-primary col-span-2 border-indigo-400 bg-transparent gradient-border hover:border-transparent transition-all inline-block"><a href="{{link}}" target="_blank">Go to Original Article</a></button>
</div>
{% endif %}
{% endblock search_results %}

{% block footerClass %}fixed-bottom{% endblock footerClass %}