@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/static/assets/fonts/Inter-Medium.ttf') format('truetype');
}

* {
  font-family: 'Inter', sans-serif;
}
body, html {
  background-color: #100e17 !important;
}

a:active {
  background-color: transparent;
}

@layer components {
  .tooltip-define {
    @apply tooltip bg-primary/[0.125] hover:bg-primary/25 px-1 rounded-lg;
  }
  .hover-card:hover {
    @apply  -translate-y-6 shadow-lg;
  }

  .gradient-text-alt {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-red-500 to-amber-300
  }
}
.gradient-border:hover {
  background-image: linear-gradient(to right,  hsl(330, 81%, 30%) 0%, hsl(271, 91%, 35%) 100%);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.gradient-text {
  background-clip: text; 
  background-image:  linear-gradient(to right, #EC4899 0%, #8B5CF6 45%, #8B5CF6 55%, #EC4899 100%); 
  color: transparent; 
  background-size: 200% auto;
  transition: all 500ms ease-in-out;
}
.gradient-text:hover {
  background-image:  linear-gradient(to right, #EC4899 0%, #8B5CF6 45%, #8B5CF6 55%, #EC4899 100%); 

}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.gradient-bg {
  background-image: linear-gradient(to right,  rgb(236 72 153) 0%, rgb(168 85 247) 33%, rgb(168 85 247) 66%,  rgb(236 72 153) 100%);
  transition: all 500ms ease-in-out;
  background-size: 200% auto;
}

.gradient-bg:hover {
  transition: all ease .4s;
  background-position: right center;
}

body {
  animation: fadeInAnimation ease-in-out 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

section.grid>* {
  animation: moveUpAnimation 1500ms ease-in-out;
}

#header {
  animation: moveDownAnimation 1500ms ease-in-out;
}

.navbar {
  animation: moveDownAnimation 2000ms ease-in-out -1s;
}

.search-container>* {
  animation: moveRightAnimation 2000ms ease-in-out;
  animation-delay: -1s inherit;
}

.footer>* {
  animation: moveUpAnimation 1500ms ease-in-out;
}
/* @media (prefers-reduced-motion: no-preference ) {
  .hover-card {
    animation: bounceIn 1s 1  
  }
} */


@keyframes moveUpAnimation {
  0% {
    opacity: 0;
    transform: translate(0%, 50%);
  }
  75% {
    opacity: 0;
    transform: translate(0%, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes moveDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0%, -50%);
  }
  75% {
    opacity: 0;
    transform: translate(0%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes moveLeftAnimation {
  0% {
    opacity: 0;
    transform: translate(50%, 0%);
  }
  75% {
    opacity: 0;
    transform: translate(50%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes moveRightAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -0%);
  }
  75% {
    opacity: 0;
    transform: translate(-50%, -0%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
#nav-container:hover > li > *,
#nav-container:hover > li.parent:hover > ul > li > a {
  color: rgba(255, 255, 255, 0.25);
}

#nav-container > li > *,
#nav-container:hover > li:hover > *,
#nav-container:hover > form:hover + *,
#nav-container:hover > li.parent:hover > a,
#nav-container:hover > li.parent:hover > ul > li:hover > a {
  color: rgba(255, 255, 255, 1);
}


.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,  rgb(236 72 153) 0%, rgb(168 85 247) 33%, rgb(168 85 247) 66%,  rgb(236 72 153) 100%);
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar.minimalist::-webkit-scrollbar {
  height: 4px;
}

.scrollbar.minimalist::-webkit-scrollbar-thumb {
  background: linear-gradient(to right,  rgb(236 72 153) 0%, rgb(168 85 247) 33%, rgb(168 85 247) 66%,  rgb(236 72 153) 100%);
  border-radius: 4px;
}
.taller::webkit-scrollbar {
  height: 7px;
}
/* Card Carousel */


.stack-card:hover {
  transform: translate(0, -10%);
}

.stack-card:hover ~ .stack-card {
  position: relative;
  left: 90px;
}
.stack-card {
  box-shadow: 0 -1rem 3rem #000;
}

.stack-card:not(:first-child) {
    margin-left: -100px;
}


@media (hover: none) {
  .stack-card:not(:first-child) {
    margin-left: 0px;
  }
  #news {
    gap: 1.5rem;
  }
  .stack-card {
    box-shadow: none;
  }
  .stack-card:hover ~ .stack-card {
    position: relative;
    left: 0px; 
  }
}

.bar {
  width: calc(100% + 4rem);
  transform: translate(-1.5rem, 0);
}

/* neon */
.neon {
  box-shadow: 0 0 2px var(--tw-shadow-color), 0 0 10px var(--tw-shadow-color), 0 0 20px var(--tw-shadow-color), 0 0 30px var(--tw-shadow-color)
}

,:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 60px 20px;
}
@media (min-width: 600px) {
  body {
    padding: 60px;
  }
}

.gradient-range {
  /* Set the width and height of the range input */
  width: 300px;
  height: 10px;
  
  /* Apply a transparent background to remove the default styling */
  background: transparent;
  
  /* Add a custom gradient background */
  background-image: linear-gradient(to right, #ef4444, #eab308, #22c55e);
  
  /* Apply any additional styles you want */
  border-radius: 50%;
  border: none;
  outline: none;
}

/* Optional: Style the thumb of the range input */
.gradient-range::-webkit-slider-thumb {
  /* Set the size and shape of the thumb */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  
  /* Apply a background color to the thumb */
  background-color: #ffffff;
  
  /* Add a box shadow to give a raised effect */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  
  /* Remove the default styling */
  border: none;
}

/* Optional: Style the track of the range input */
.gradient-range::-webkit-slider-runnable-track {
  overflow: hidden;
  /* Apply a transparent background to remove the default track */
  background: linear-gradient(to right, #ef4444, #eab308, #22c55e);
}