@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #100e17 !important;
}

a:active {
  background-color: transparent;
}

@layer components {
  .tooltip-define {
    @apply tooltip bg-primary/[0.125] hover:bg-primary/25 px-1 rounded-lg;
  }
  .hover-card:hover {
    @apply  -translate-y-6 shadow-lg;
  }

  .gradient-text-alt {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-red-500 to-amber-300
  }
}
.gradient-border:hover {
  background-image: linear-gradient(to right,  hsl(330, 81%, 30%) 0%, hsl(271, 91%, 35%) 100%);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.gradient-text {
  background-clip: text; 
  background-image:  linear-gradient(to right, #EC4899 0%, #8B5CF6 45%, #8B5CF6 55%, #EC4899 100%); 
  color: transparent; 
  background-size: 200% auto;
  transition: all 500ms ease-in-out;
}
.gradient-text:hover {
  background-image:  linear-gradient(to right, #EC4899 0%, #8B5CF6 45%, #8B5CF6 55%, #EC4899 100%); 

}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.gradient-bg {
  background-image: linear-gradient(to right,  rgb(236 72 153) 0%, rgb(168 85 247) 33%, rgb(168 85 247) 66%,  rgb(236 72 153) 100%);
  transition: all 500ms ease-in-out;
  background-size: 200% auto;
}

.gradient-bg:hover {
  transition: all ease .4s;
  background-position: right center;
}

body {
  animation: fadeInAnimation ease-in-out 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

section.grid>* {
  animation: moveUpAnimation 1500ms ease-in-out;
}

#header {
  animation: moveDownAnimation 1500ms ease-in-out;
}

.navbar {
  animation: moveDownAnimation 2000ms ease-in-out -1s;
}

.search-container>* {
  animation: moveRightAnimation 2000ms ease-in-out;
  animation-delay: -1s inherit;
}

.footer>* {
  animation: moveUpAnimation 1500ms ease-in-out;
}
/* @media (prefers-reduced-motion: no-preference ) {
  .hover-card {
    animation: bounceIn 1s 1  
  }
} */


@keyframes moveUpAnimation {
  0% {
    opacity: 0;
    transform: translate(0%, 50%);
  }
  75% {
    opacity: 0;
    transform: translate(0%, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes moveDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0%, -50%);
  }
  75% {
    opacity: 0;
    transform: translate(0%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes moveLeftAnimation {
  0% {
    opacity: 0;
    transform: translate(50%, 0%);
  }
  75% {
    opacity: 0;
    transform: translate(50%, 0%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes moveRightAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -0%);
  }
  75% {
    opacity: 0;
    transform: translate(-50%, -0%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
#nav-container:hover > li > *,
#nav-container:hover > li.parent:hover > ul > li > a {
  color: rgba(255, 255, 255, 0.25);
}

#nav-container > li > *,
#nav-container:hover > li:hover > *,
#nav-container:hover > form:hover + *,
#nav-container:hover > li.parent:hover > a,
#nav-container:hover > li.parent:hover > ul > li:hover > a {
  color: rgba(255, 255, 255, 1);
}


.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,  rgb(236 72 153) 0%, rgb(168 85 247) 33%, rgb(168 85 247) 66%,  rgb(236 72 153) 100%);
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar.minimalist::-webkit-scrollbar {
  height: 4px;
}

.scrollbar.minimalist::-webkit-scrollbar-thumb {
  background: linear-gradient(to right,  rgb(236 72 153) 0%, rgb(168 85 247) 33%, rgb(168 85 247) 66%,  rgb(236 72 153) 100%);
  border-radius: 4px;
}
.taller::webkit-scrollbar {
  height: 7px;
}
/* Card Carousel */


@media (min-width: 640px) {
  .stack-card:hover {
    transform: translate(0, -10%) ;
    transition: 0.4s ease-out;
  }
  
  
  .stack-card:hover ~ .stack-card {
    position: relative;
    left: 60px;
    transition: 0.4s ease-out;
  }
}