{% extends "template.html" %}
{% block title %}404 Page not found{% endblock title %}
{% block pageTitle %}404: Page not found{% endblock pageTitle %}
{% block body %}
{{ super() }}
<div class="grid items-top w-[94%] p-[3%] grid-cols-2 container-fluid mx-10 text-black rounded-lg h-[80vh]">
    <div class="pt-11 pl-24 mt-[9rem] lg:pt-15 lg:pb-15 col-span-1 -translate-y[12rem] order-1 text-white justify-content-center">
        <div class="pb-9">
            <h1 class="text-center text-3xl font-bold gradient-text h-full">Awwwww.....Don't cry</h1>
            <h1 class="text-center text-3xl text-white h-full">It's Just a 404 Error</h1>
            <br>
            <a class="btn btn-round-lg text-white gradient-bg justify-center" href="/">
                Go Back To Home
            </a>
        </div>
    </div> <!-- about content -->
    <div class="h-full col-span-1 pr-20 translate-y-20">
      <div class="relative bg-primary w-full grid justify-center">
        <img class="absolute w-full top-0 z-[2] order-0" src="https://www.shutterstock.com/shutterstock/videos/1061182360/thumb/12.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
{% block results %}{% endblock results %}