{% extends "template.html" %}
{% block title %}Home{% endblock title %}
{% block pageTitle %}Investify{% endblock pageTitle %}
{% block wholebody %}

<div class="grid items-center w-[94%] p-[3%] grid-cols-2 container-fluid mx-5 bg-base-300 text-black rounded-pill h-[80vh]">
  <div class="search-container">
    <h1 class="text-6xl font-bold text-white leading-tight">Stay in the know <br> Watch your<strong class="text-primary"><br/> money grow.</strong></h1> <br> <br>
    <form class="form-control" role="search" method="POST" action="search" autocomplete="off" autocapitalize="characters">
      <div class="input-group">
        {% if searchForm.ticker.errors %}
        {{ searchForm.ticker(class="input input-bordered") }}
            {% for error in searchForm.ticker.errors %}
            <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
        {% else %}
            {{ searchForm.ticker(class="input input-bordered text-white") }}
        {% endif %}
        <button class="btn btn-square text-white" id="submit" name="submit" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
        </button>
      </div>
    </form>
  </div>
  
  <div class="h-full">
    <div class="relative bg-primary w-full gridd justify-center">
      <div class="animationBg">
        <div>
          <p>hello</p>
        </div>
      </div>
      <img class="bgmacimage" src="/static/image_3.png" />
    </div>
  </div>
</div>

<div class="mt-16 mx-10">
  <p class="text-4xl text-primary font-bold mx-5 my-5">Our Core Services</p>
  <div class="grid grid-cols-2 gap-x-6 gap-y-6 mt-10">
    <div class="bg-white bg-opacity-20 rounded-2xl text-white px-6 py-10">
      <p class="mb-6 text-2xl font-bold">Education</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, alias magni. Molestias quas dolores similique quos in laudantium omnis, eligendi nobis minima cumque ipsam, nulla voluptatum iure hic dolorem ab?</p>
    </div>
    <div class="bg-white bg-opacity-20 rounded-2xl text-white px-6 py-10">
      <p class="mb-6 text-2xl font-bold">Education</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, alias magni. Molestias quas dolores similique quos in laudantium omnis, eligendi nobis minima cumque ipsam, nulla voluptatum iure hic dolorem ab?</p>
    </div>
    <div class="bg-white bg-opacity-20 rounded-2xl text-white px-6 py-10">
      <p class="mb-6 text-2xl font-bold">Education</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, alias magni. Molestias quas dolores similique quos in laudantium omnis, eligendi nobis minima cumque ipsam, nulla voluptatum iure hic dolorem ab?</p>
    </div>
    <div class="bg-white bg-opacity-20 rounded-2xl text-white px-6 py-10">
      <p class="mb-6 text-2xl font-bold">Education</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, alias magni. Molestias quas dolores similique quos in laudantium omnis, eligendi nobis minima cumque ipsam, nulla voluptatum iure hic dolorem ab?</p>
    </div>
  </div>
</div>


<div class="w-100 mx-0 justify-content-center">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content w-100 flex-row-reverse">
      <div class="mockup-phone">
        <div class="camera"></div>
        <div class="display">
          <div class="artboard artboard-demo phone-2">
            <span class="text-primary text-7xl mb-32" id="header">
              <strong>investify.</strong>
            </span>
            <section class="grid grid-cols-2 grid-rows-2 gap-x-14 gap-y-24 mt-10 mb-5">
              <i class="fa-solid fa-chart-line text-7xl text-primary font-thin col-span-1 rounded-lg border-1 border-primary"></i>
              <i class="fa-solid fa-dollar-sign text-7xl text-primary font-thin col-span-1 rounded-lg border-1 border-primary"></i>
              <i class="fa-solid fa-money-bill-trend-up text-7xl text-primary font-thin col-span-1 rounded-lg border-1 border-primary"></i>
              <i class="fa-solid fa-chart-pie text-7xl text-primary font-thin col-span-1 rounded-lg border-1 border-primary"></i>
            </section>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <!-- <div class="text-center px-3 my-5 mx-auto">
    <h2 class="text-white">Stay in the know</h2>
    <h1 class="text-white">Watch your<strong class="text-primary"> money grow.</strong></h1>
    <br>
    
  </div> -->
</div>
{% endblock wholebody %}