{% extends "template.html" %}
{% block title %}Home{% endblock title %}
{% block pageTitle %}Investify{% endblock pageTitle %}
{% block navLink %}home{% endblock navLink %}
{% block wholebody %}
<div class="row my-auto w-100 mx-0">
  <div class="col ms-5 align-items-center justify-content-center">
    <img src="https://picsum.photos/600/900" alt="random picture" class="rounded">
  </div>
  <div class="col text-center px-5 me-5 align-items-center justify-content-center">
    <h3 class="text-white">Stay in the know</h3>
    <h1 class="text-white">Watch your<strong class="text-primary"> money grow.</strong></h1>
    <form class="d-flex mx-3" role="search" method="POST" action="search">
      {% if searchForm.ticker.errors %}
          {{ searchForm.ticker(class="form-control rounded-pill me-3 is-invalid") }}
              {% for error in searchForm.ticker.errors %}
              <span class="invalid-feedback">{{ error }}</span>
              {% endfor %}
          </div>
      {% else %}
          {{ searchForm.ticker(class="form-control rounded-pill me-3") }}
      {% endif %}
      {{ searchForm.submit(class="btn btn-outline-primary") }}
    </form>
  </div>
</div>
{% endblock wholebody %}