{% extends "template.html" %}
{% block title %}Home{% endblock title %}
{% block pageTitle %}Investify{% endblock pageTitle %}
{% block wholebody %}
<div class="grid items-center w-[94%] p-[3%] grid-cols-2 container-fluid mx-10 text-black rounded-pill h-[100vh]">
    <div class="search-container col-span-1 translate-y-[-4rem]">
      <h1 class="text-6xl font-bold text-white leading-tight">Stay in the know <br> Watch your<br/> <span class="gradient-text">money grow.</span> </strong></h1> <br> <br>
      <form class="form-control" role="search" method="POST" action="search" autocomplete="off" autocapitalize="characters">
        <div class="input-group">
          {% if searchForm.ticker.errors %}
          {{ searchForm.ticker(class="input input-bordered") }}
              {% for error in searchForm.ticker.errors %}
              <span class="invalid-feedback">{{ error }}</span>
              {% endfor %}
          {% else %}
              {{ searchForm.ticker(class="input input-bordered text-white") }}
          {% endif %}
          <button class="btn btn-square text-white" id="submit" name="submit" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
          </button>
        </div>
      </form>
    </div>
    <div class="h-full col-span-1">
      <div class="relative bg-primary w-full grid justify-center mt-[8rem]">
        <img class="absolute w-full top-0 z-[2]" src="{{url_for('static', filename='assets/images/header-image.svg')}}" alt="Header Image"/>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>

  <div class="grid items-top w-[94%] p-[3%] grid-cols-2 container-fluid mx-10 text-black rounded-lg h-[80vh]">
    <div class="about_content mx-4 pt-11 mt-[9rem] lg:pt-15 lg:pb-15 col-span-1 translate-y-[-8rem] text-white">
        <div class="pb-9">
            <h5 class="gradient-text-alt text-5xl font-semibold mb-4">Why Choose Us</h5>
            <h4 class="">Your Goal is Our Achievement</h4>
        </div> <!-- section title -->
        <p>Nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diam voluptua. At vero eos et accusam et justo duo dolores et rebum. Stet clita kasd gubergren, no sea takimata sanctus. </p>
        <ul class="about_list pt-3">
            <li class="flex mt-5">
                <div class="about_check">
                    <i class="lni lni-checkmark-circle"></i>
                </div>
                <div class="about_list_content pl-5 pr-2">
                    <p>Vero eos et accusam et justo duo dolores et rebum. Stet clita kasd gubergrenv</p>
                </div>
            </li>
            <li class="flex mt-5">
                <div class="about_check">
                    <i class="lni lni-checkmark-circle"></i>
                </div>
                <div class="about_list_content pl-5 pr-2">
                    <p>At vero eos et accusam et justo duo dolores et rebum. Stet clita kasd gubergrenv</p>
                </div>
            </li>
            <li class="flex mt-5">
                <div class="about_check">
                    <i class="lni lni-checkmark-circle"></i>
                </div>
                <div class="about_list_content pl-5 pr-2">
                    <p>Dvero eos et accusam et justo duo dolores et rebum. Stet clita kasd gubergrenv</p>
                </div>
            </li>
        </ul>
    </div> <!-- about content -->
    <div class="h-full col-span-1">
      <div class="relative bg-primary w-full grid justify-center">
        <img class="absolute w-full top-0 z-[2]" src="{{url_for('static', filename='assets/images/about.svg')}}" alt="about"/>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!--====== ABOUT PART ENDS ======-->

    <div class="grid lg:grid-cols-3 grid-rows-3 p-[3%] items-top justify-stretch m-0  translate-x-8 gap-x-[5%] w-[94%]  ">
        <div class=" min-w-max max-w-full p-[3%] row-span-1 lg:col-span-1 mt-16 text-white rounded-lg min-h-max bg-gradient-to-bl from-fuchsia-500 to-pink-500">
            <div class="overflow-x-auto">
                <div class="pb-9">
                    <h5 class="sub_title font-bold text-2xl text-magenta-500">Daily Top Gainers</h5>
                </div> <!-- section title -->
                <table class="table  w-full">
                  <!-- head -->
                  <thead>
                    <tr>
                      <th></th>
                      <th>Ticker</th>
                      <th>% Chg</th>
                      <th>Last Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- row 1 -->
                    <tr class="hover">
                      <th>1</th>
                      <td>AAPL</td>
                      <td>30%</td>
                      <td>$11.42</td>
                    </tr>
                    <!-- row 2 -->
                    <tr class="hover">
                      <th>2</th>
                      <td>TSLA</td>
                      <td>11.6%</td>
                      <td>$3.56</td>
                    </tr>
                    <!-- row 3 -->
                    <tr class="hover">
                      <th>3</th>
                      <td>HAD</td>
                      <td>5.65%</td>
                      <td>$4.99</td>
                    </tr>
                    <tr class="hover">
                        <th>4</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>5</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>6</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>7</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>8</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>9</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>10</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>
        <div class=" min-w-max max-w-full p-[3%] row-span-1 lg:col-span-1 mt-16 text-white rounded-lg min-h-max bg-gradient-to-bl from-purple-500 to-pink-500">
            <div class="overflow-x-auto">
                <div class="pb-9">
                    <h5 class="sub_title font-bold text-2xl text-magenta-500">Daily Top Losers</h5>
                </div> <!-- section title -->
                <table class="table  w-full">
                  <!-- head -->
                  <thead>
                    <tr class="hover">
                      <th></th>
                      <th>Ticker</th>
                      <th>% Chg</th>
                      <th>Last Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- row 1 -->
                    <tr class="hover">
                      <th>1</th>
                      <td>AAPL</td>
                      <td>30%</td>
                      <td>$11.42</td>
                    </tr>
                    <!-- row 2 -->
                    <tr class="hover" class="hover">
                      <th>2</th>
                      <td>TSLA</td>
                      <td>11.6%</td>
                      <td>$3.56</td>
                    </tr>
                    <!-- row 3 -->
                    <tr class="hover">
                      <th>3</th>
                      <td>HAD</td>
                      <td>5.65%</td>
                      <td>$4.99</td>
                    </tr>
                    <tr class="hover">
                        <th>4</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>5</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>6</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>7</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>8</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>9</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>10</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>
        <div class=" min-w-max max-w-full p-[3%] row-span-1 lg:col-span-1 mt-16 text-white rounded-lg min-h-max bg-gradient-to-bl from-purple-500 to-pink-500">
            <div class="overflow-x-auto">
                <div class="pb-9">
                    <h5 class="sub_title font-bold text-2xl text-magenta-500">Daily Top Movers</h5>
                </div> <!-- section title -->
                <table class="table  w-full">
                  <!-- head -->
                  <thead>
                    <tr class="hover">
                      <th></th>
                      <th>Ticker</th>
                      <th>% Chg</th>
                      <th>Last Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- row 1 -->
                    <tr class="hover">
                      <th>1</th>
                      <td>AAPL</td>
                      <td>30%</td>
                      <td>$11.42</td>
                    </tr>
                    <!-- row 2 -->
                    <tr class="hover" class="hover">
                      <th>2</th>
                      <td>TSLA</td>
                      <td>11.6%</td>
                      <td>$3.56</td>
                    </tr>
                    <!-- row 3 -->
                    <tr class="hover">
                      <th>3</th>
                      <td>HAD</td>
                      <td>5.65%</td>
                      <td>$4.99</td>
                    </tr>
                    <tr class="hover">
                        <th>4</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>5</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>6</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>7</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>8</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>9</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                      <tr class="hover">
                        <th>10</th>
                        <td>HAD</td>
                        <td>5.65%</td>
                        <td>$4.99</td>
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>
    </div>

      

      


    <!-- <div class="m-4 tabs">
        <button class="tab tab-lg tab-lifted">Tab 1</button>
        <button class="tab tab-lg tab-lifted tab-active">Tab 2</button>
        <button class="tab tab-lg tab-lifted">Tab 3</button>
      </div> -->
    <!--====== SERVICES PART START ======-->
    <div class="rounded-lg bg-gradient-to-r from-pink-500 to-purple-500 p-4 mt-24 mb-16 w-[94%] p-[3%] mx-10" style="overflow-anchor: none;">
        <div class="flex justify-center gap-5 py-2">
          <a href="#item1" class="btn btn-xs carousel-link" style="overflow-anchor: none;">Stocks</a> 
          <a href="#item2" class="btn btn-xs carousel-link" style="overflow-anchor: none;">Options</a> 
          <a href="#item3" class="btn btn-xs carousel-link" style="overflow-anchor: none;">ETFs</a> 
          <a href="#item4" class="btn btn-xs carousel-link" style="overflow-anchor: none;">OTC</a>
          <a href="#item5" class="btn btn-xs carousel-link" style="overflow-anchor: none;">Crypto</a>
        </div>
        <div class="carousel w-full mx-7 h-15">
          <div id="item1" class="carousel-item w-full bg-black/25 rounded-lg p-2">
            <img src = "https://wbstatic.webullfintech.com/v1/webull-us-g/assets/cdc36ef247a881c0159e7218118e3bfa.png"/>
            <div class="grid grid-rows-2">
                <h1 class="text-6xl font-bold text-white leading-tight px-8 row-span-1">Stocks</h1>
                <p class="row-span-1 px-8">Invest in thousands of companies and fractional shares with as little as $5 using our trading tools and analytics to create your own financial portfolio.</p>
            </div>
          </div> 
          <div id="item2" class="carousel-item w-full bg-black/25 rounded-lg p-2">
            <img src = "https://wbstatic.webullfintech.com/v1/webull-us-g/assets/a1568e16db1b21caac3be543fb4d8fed.png"/>
            <div class="grid grid-rows-2">
                <h1 class="text-6xl font-bold text-white leading-tight px-8 row-span-1">Options</h1>
                <p class="row-span-1 px-8">Options provide a strategic alternative to just investing in equity.</p>
            </div>
          </div> 
          <div id="item3" class="carousel-item w-full bg-black/25 rounded-lg p-2">
            <img src = "https://wbstatic.webullfintech.com/v1/webull-us-g/assets/cc026886997a4740b3d492e7ee677697.png"/>
            <div class="grid grid-rows-2">
                <h1 class="text-6xl font-bold text-white leading-tight px-8 row-span-1">ETFs</h1>
                <p class="row-span-1 px-8">Diversify your holdings by investing into a group of stocks with the same convenience as trading a single stock.</p>
            </div>
          </div>  
          <div id="item4" class="carousel-item w-full bg-black/25 rounded-lg p-2">
            <img src = "https://wbstatic.webullfintech.com/v1/webull-us-g/assets/95cf2c683700599345a0aa4fa8999ec3.png"/>
            <div class="grid grid-rows-2">
                <h1 class="text-6xl font-bold text-white leading-tight px-8 row-span-1">OTC</h1>
                <p class="row-span-1 px-8">Get a better understanding of what OTCs are and how you can invest in OTCs with Webull.</p>
            </div>
          </div> 
          <div id="item5" class="carousel-item w-full bg-black/25 rounded-lg p-2">
            <img src = "https://wbstatic.webullfintech.com/v1/webull-us-g/assets/726e0d0ae9fc3a128e7b24c1b5602bec.png"/>
            <div class="grid grid-rows-2">
                <h1 class="text-6xl font-bold text-white leading-tight px-8 row-span-1">Crypto</h1>
                <p class="row-span-1 px-8">Diversify your holdings by investing in digital currencies including Bitcoin, Ethereum, Bitcoin Cash and Litecoin.</p>
            </div>
          </div> 
        </div>
      </div>
      
        <script>
            const links = document.querySelectorAll('.carousel-link');
            links.forEach(link => {
            link.addEventListener('click', event => {
                event.preventDefault();
                const target = document.querySelector(link.getAttribute('href'));
                target.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' });
            });
            });
        </script>

<div class="grid items-center w-[94%] p-[3%] grid-cols-2 container-fluid mx-6 text-black rounded-lg h-[100vh]">
    <div class="h-full col-span-1 content-center items-center">
        <div class="relative bg-primary w-full grid items-center">
            <img class="w-full z-[2] rounded-lg" src="https://media.tenor.com/exgclov4x-wAAAAd/tree-money.gif" alt="Header Image"/>
        </div>
    </div>
    <div class="col-span-1 text-center">
        <h1 class="text-5xl font-bold text-white leading-tight mx-10">Start a paper trading <br> account <span class="gradient-text">NOW.</span> </strong></h1> <br>
    </div>
</div>
    <!--====== SERVICES PART ENDS ======-->

    <!--====== SERVICES PART ENDS ======-->

    <!--====== WORK PART START ======-->

   



    <a href="#" class="scroll-top"><i class="lni lni-chevron-up"></i></a>


<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

    <!--====== PART ENDS ======-->




    <!--====== Tiny Slider js ======-->
    

{% endblock wholebody %}