{% extends "template.html" %}
{% block title %}Login{% endblock title %}
{% block body %}
{{ super() }}
<div class="grid grid-rows-1 grid-cols-1 w-full h-[calc(100vh-4rem)] translate-y-[-4rem]  justify-items-center items-center ">

  <div>
    <h1 class="text-5xl font-bold font-normal text-indigo-400"> Welcome back to <span class="gradient-text">investify.</span></h1>
    <form class="form-control max-w-full mx-auto w-96 p-6 bg-base-100 rounded-lg" role="search" method="POST" action="" autocapitalize="characters" autocomplete="off">
      <label class="input-group my-3 mt-6">
          <span  >
              {{ loginForm.email.label(class="label") }}
          </span>
              {% if loginForm.email.errors %}
              {{ loginForm.email(class="input input-bordered w-full") }}
                  {% for error in loginForm.email.errors %}
                  <span class="invalid-feedback">{{ error }}</span>
                  {% endfor %}
              {% else %}
                  {{ loginForm.email(class="input input-bordered w-full") }}
              {% endif %}
      </label>
      <label class="input-group my-3">
          <span >
              {{ loginForm.password.label(class="label") }}
          </span>
              {% if loginForm.password.errors %}
              {{ loginForm.password(class="input input-bordered w-full") }}
                  {% for error in loginForm.password.errors %}
                  <span class="invalid-feedback">{{ error }}</span>
                  {% endfor %}
              {% else %}
                  {{ loginForm.password(class="input input-bordered w-full") }}
              {% endif %}
      </label>
      {{ loginForm.submit(class="btn btn-primary font-normal gradient-bg transition-all border-none my-3") }}
      <a class="btn btn-primary border-indigo-400 bg-transparent hover:gradient-bg hover:border-indigo-400 my-3 transition-all" href="/login/google"> Sign in with Google </a>

      <div class="divider"><span>Don't have an account? <a href="/register" class="link gradient-text decoration-auto decoration-solid">Sign up.</a></span></div>
      <div class="divider"><span>Forgot your password? <a href="/reset-password" class="link gradient-text decoration-auto decoration-solid">Reset it here.</a></span></div>
    </form>  
  </div>
</div>
{% endblock body %}
{% block results %}{% endblock results %}