{% macro bootstrapcard(title='Card Title', text="Some quick example text to build on the card title and make up the bulk of the card's content.", button='Go Somewhere', buttonLink='#', cardClasses='', buttonClasses='') -%}
    <div class="card {{ cardClasses }} hover:shadow-2xl hover:drop-shadow-2xl hover:translate-y-[-2rem] transition-all">
        <!-- Add Image Macro if Required. -->
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">{{ text }}</p>
            <a href="{{ buttonLink }}" class="btn {{ buttonClasses }}">{{ button }}</a>
        </div>
    </div>
{%- endmacro %}
{% macro section(header="Header", text="Some long lorem ipsum text", imagehref='', equation="") -%}
    <section class="container mx-auto justify-self-center min-w-[20%] px-20 mt-5">
        <h1 class="text-5xl gradient-text mb-2 leading-relaxed">{{ header }}</h1>
        {% if equation != '' %}
            \[{{ equation }}\]
            <p class="text-content mt-2 mb-4 leading-loose">{{ text|safe }}</p>
        {% else %}
            <p class="text-content mb-5 mt-4 leading-loose h-full">{{ text|safe }}</p>
        {% endif %}
        {% if imagehref != '' %}
            <img src="{{ imagehref }}" alt="Image">
        {% endif %}
    </section>
{%- endmacro %}
{% macro card(title='Card Title', text="Some efjiowwww", button='Go', buttonLink="#", button_external=True, verified_tweet=True) -%}
    <div class="card w-96 bg-base-100 hover:shadow-2xl hover:drop-shadow-2xl hover:translate-y-[-2rem] hover:border-indigo-400/75 hover:border-2 transition-all">
        <div class="card-body">
        <h2 class="card-title">{{ title }}
            {% if verified_tweet != '' %}
                <i class="fa-solid fa-check-double inline-block justify-end text-purple-400"></i>                     
            {% endif %}
        </h2>
        {% if text != '' %}
            <p class="mb-3">{{ text }}</p>
        {% endif %}
        <button class="card-actions mt-4 justify-center">
            <a class="btn btn-primary border-indigo-400 bg-transparent hover:gradient-bg hover:border-indigo-400  transition-all " href="{{ buttonLink }}" {% if button_external != '' %} target="_blank" {% endif %}>{{ button }}   
                {% if button_external != '' %}   
                    <i class="ml-2 fas fa-external-link-alt inline-block justify-end"></i>
                {% endif %}
            </a>
        </button>
        </div>
    </div>
{%- endmacro %}

{% macro card_graph(title='Card Title', text_gain_loss="Some efjiowwww", text_pct_change="Some efjiowwww", button='Go', buttonLink="#", chartData="[0,10,5,2,20,30,45]") -%}
    <div class="card w-96 bg-white/[0.075] hover:shadow-2xl hover:drop-shadow-2xl hover:-translate-y-[1rem] translate-y-[1rem] transition-all">
        <div class="card-body">
        <h2 class="card-title"> {{ title }} </h2>
        <p class="mb-3 text-3xl"> {{ text_gain_loss }} <span class=" ml-1 text-xl"> {{ text_pct_change }} </span></p>
        <button class="card-actions justify-center">
            <a class="btn btn-primary border-indigo-400 bg-transparent hover:gradient-bg hover:border-indigo-400  transition-all " href="{{ buttonLink }}"> {{ button }} </a>
        </button>
        </div>
    </div>
{%- endmacro %}
{% macro card_conversation(title='Card Title', button='Go', buttonLink="#") -%}
    <div class="card w-96 bg-white/[0.075] hover:shadow-2xl hover:drop-shadow-2xl hover:-translate-y-[1rem] translate-y-[1rem] transition-all">
        <div class="card-body">
        <h2 class="card-title"> {{ title }} </h2>
        <p class="mb-3 text-3xl"> {{ text_gain_loss }} <span class=" ml-1 text-xl"> {{ text_pct_change }} </span></p>
        <button class="card-actions justify-center">
            <a class="btn btn-primary border-indigo-400 bg-transparent hover:gradient-bg hover:border-indigo-400  transition-all " href="{{ buttonLink }}"> {{ button }} </a>
        </button>
        </div>
        <figure>
            <!-- <img src="https://picsum.photos/seed/picsum/200/300" alt="Image"> -->
            <!-- stock graph from google charts hur -->
            <img src="https://quickchart.io/chart?c={type:'line',data:{labels:['January','February','March','April','May','June','July'],datasets:[{label:'Paper Trading',fill:false,borderColor:'rgb(75, 192, 192)',data:[0,10,5,2,20,30,45]}]}}" alt="Image" class="p-4 bg-base-100">
        </figure>
    </div>
{%- endmacro %}
{% macro stock_chip(ticker='AAPL', price='21.78', outline=True) %}
    {% if outline %}
        <button class="flex justify-center items-center text-white text-xl font-bold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-0 rounded-full min-w-64 h-8 p-2 mb-2 text-center" onclick="fillTicker('{{ ticker }}')">
            <span class="mr-3">{{ ticker }}</span>
            <span class="text-lg font-normal text-white/50">{{ price }}</span>
        </button>
      
    {% else %}
        <button class="flex justify-center items-center text-white text-xl font-bold bg-base-200 hover:brightness-[1.4] hover:shadow-2xl hover:drop-shadow-2xl transition-all ease-in-out rounded-full min-w-64 h-8 p-2 mb-2 text-center" onclick="fillTicker('{{ ticker }}')">
            <span class="mr-3">{{ ticker }}</span>
            <span class="text-lg font-normal text-white/50">{{ price }}</span>
        </button>
      
    {% endif %}
{%- endmacro %}