{% macro bootstrapcard(title='Card Title', text="Some quick example text to build on the card title and make up the bulk of the card's content.", button='Go Somewhere', buttonLink='#', cardClasses='', buttonClasses='') -%}
    <div class="card {{ cardClasses }}">
        <!-- Add Image Macro if Required. -->
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">{{ text }}</p>
            <a href="{{ buttonLink }}" class="btn {{ buttonClasses }}">{{ button }}</a>
        </div>
    </div>
{%- endmacro %}
{% macro section(header="Header", text="Some long lorem ipsum text", imagehref='', equation="") -%}
    <section class="justify-self-center min-w-[20%]  ">
        <h1 class="text-5xl text-primary mb-10">{{ header }}</h1>
        {% if equation != '' %}
            \[{{ equation }}\]
            <p class="text-content mt-10 mb-5 leading-loose">{{ text|safe }}</p>
        {% else %}
            <p class="text-content mb-5 leading-loose">{{ text|safe }}</p>
        {% endif %}
        {% if imagehref != '' %}
            <img src="{{ imagehref }}" alt="Image">
        {% endif %}
    </section>
{%- endmacro %}
{% macro card(title='Card Title', text="Some efjiowwww", button='Go', buttonLink="#", button_external=True, verified_tweet=True) -%}
    <div class="card w-96 bg-base-100 shadow-2xl">
        <div class="card-body">
        <h2 class="card-title">{{ title }}
            {% if verified_tweet != '' %}
                <i class="fa-solid fa-check-double inline-block justify-end text-primary"></i>                     
            {% endif %}
        </h2>
        <p class="mb-3">{{ text }}</p>
        <button class="card-actions justify-center">
            <a class="btn btn-primary hover:shadow-xl" href="{{ buttonLink }}">{{ button }}   
                {% if button_external != '' %}   
                    <i class="ml-2 fas fa-external-link-alt inline-block justify-end"></i>
                {% endif %}
            </a>
        </button>
        </div>
    </div>
{%- endmacro %}