{% macro card(title='Card Title', text="Some quick example text to build on the card title and make up the bulk of the card's content.", button='Go Somewhere', buttonLink='#', cardClasses='', buttonClasses='') -%}
    <div class="card {{ cardClasses }}">
        <!-- Add Image Macro if Required. -->
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">{{ text }}</p>
            <a href="{{ buttonLink }}" class="btn {{ buttonClasses }}">{{ button }}</a>
        </div>
    </div>
{%- endmacro %}
{% macro section(header="Header", text="Some long lorem ipsum text", imagehref='', equation="") -%}
    <section class="max-w-[50%] min-w-[40%] w-[50%]  ">
        <h1 class="text-5xl text-primary mb-10">{{ header }}</h1>
        {% if equation != '' %}
            \[{{ equation }}\]
            <p class="text-content mt-10 mb-5 leading-loose">{{ text|safe }}</p>
        {% else %}
            <p class="text-content mb-5 leading-loose">{{ text|safe }}</p>
        {% endif %}
        {% if imagehref != '' %}
            <img src="{{ imagehref }}" alt="Image">
        {% endif %}
    </section>
{%- endmacro %}