{% extends "template.html" %}
{% block title %}Market{% endblock title %}
{% block pageTitle %}Investify{% endblock pageTitle %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/market.css') }}">
<style>
  .sticky-tab-bar {
    position: sticky;
    z-index: 100;
  }
  :root {
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #323048;
  --dark-text: #f8fbff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #edf0f5;
  --light-text: #151426;
  --blue: #007497;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family: cursive;
}

.light {
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calendar {
  height: max-content;
  width: max-content;
  background-color: var(--bg-main);
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  display: none;
}

.calendar-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.light .calendar {
  box-shadow: var(--shadow);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-txt);
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
}

.calendar-days div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover span {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
  width: 2px;
  height: 0;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
  height: 100%;
}

.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}

.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
  width: 0;
  height: 2px;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
}

.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}

.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(2) {
  transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
  transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
  transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50%;
}

.calendar-days div.curr-date span {
  display: none;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  background-color: var(--color-hover);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--color-hover);
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toggle {
  display: flex;
}

.toggle span {
  margin-right: 10px;
  color: var(--color-txt);
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-main);
  padding: 20px;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: grid;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}

.month-list.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.month-list > div {
  display: grid;
  place-items: center;
}

.month-list > div > div {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: var(--color-txt);
}

.month-list > div > div:hover {
  background-color: var(--color-hover);
}

</style>
{% endblock head %}

{% block wholebody %}
<div class="fixed top-0 left-0 w-screen h-32"></div>
<div class="flex justify-center  ">
  <div class="w-[100vw]">
    <div class="divider mx-16" id="divider"></div>
    <div class="flex justify-center bg-[#1b1726] gap-x-2 md:gap-x-6 -translate-y-16 pt-24 px-4 sm:px-8 md:px-12 lg:px-16 sticky-tab-bar overflow-x-auto scrollbar minimalist" id="topNav">
      <div class="py-4">
        <a href="#" onclick="openTab('overview')" class="block z-[1001] px-4 btn py-0 h-min min-h-0 btn-primary text-sm lg:text-sm xl:text-md font-thin bg-transparent border-indigo-400 gradient-border hover:border-transparent  transition-all rounded-md">Overview</a>
      </div>
      <div class="py-4">
        <a href="#" onclick="openTab('gainers')" class="block z-[1001] px-4 btn py-0 h-min min-h-0 btn-primary text-sm lg:text-sm xl:text-md font-thin bg-transparent border-indigo-400 gradient-border hover:border-transparent  transition-all rounded-md">Top Gainers</a>
      </div>
      <div class="py-4">
        <a href="#" onclick="openTab('losers')" class="block z-[1001] px-4 btn py-0 h-min min-h-0 btn-primary text-sm lg:text-sm xl:text-md font-thin bg-transparent border-indigo-400 gradient-border hover:border-transparent  transition-all rounded-md">Top Losers</a>
      </div>
      <div class="py-4">
        <a href="#" onclick="openTab('active')" class="block z-[1001] px-4 btn py-0 h-min min-h-0 btn-primary text-sm lg:text-sm xl:text-md font-thin bg-transparent border-indigo-400 gradient-border hover:border-transparent  transition-all rounded-md">Most Active</a>
      </div>
      <div class="py-4">
        <a href="#" onclick="openTab('options')" class="block z-[1001] px-4 btn py-0 h-min min-h-0 btn-primary text-sm lg:text-sm xl:text-md font-thin bg-transparent border-indigo-400 gradient-border hover:border-transparent  transition-all rounded-md">Top Options</a>
      </div>
      <div class="py-4">
        <a href="#" onclick="openTab('calendar')" class="block z-[1001] px-4 btn py-0 h-min min-h-0 btn-primary text-sm lg:text-sm xl:text-md font-thin bg-transparent border-indigo-400 gradient-border hover:border-transparent  transition-all rounded-md">Calendar</a>
      </div>
      <div class="py-4">
        <a href="#" onclick="openTab('earningscalendar')" class="block z-[1001] px-4 btn py-0 h-min min-h-0 btn-primary text-sm lg:text-sm xl:text-md font-thin bg-transparent border-indigo-400 gradient-border hover:border-transparent  transition-all rounded-md">Earnings Calendar</a>
      </div>
    </div>
    
    <div id="overview" class="tab-content active mt-4 mx-16 z-[2] mb-10">
      <h2 class="text-xl font-bold">Index</h2>
      <div class="grid lg:grid-cols-3 max-lg:grid-rows-3 p-[3%] items-top justify-stretch m-0 translate-x-8 gap-x-[5%] w-[94%]">
        <div class=" min-w-max max-w-full p-[3%] row-span-1 lg:col-span-1  text-white rounded-lg min-h-min border-indigo-400 border-2 max-lg:my-6">
            <div class="overflow-x-auto scrollbar minimalist">
                <div class="pb-9">
                  <button>
                  <h5 href="#" onclick="openTab('active')" class="sub_title font-bold text-2xl text-magenta-500 underline-on-hover">Daily Most Active</h5>
                  <button>
                </div> <!-- section title -->
                <table class="table  w-full">
                  <!-- head -->
                  <thead>
                    <tr>
                      <th></th>
                      <th>Ticker</th>
                      <th>Volume</th>
                      <th>% Range</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- row 1 -->
                    <tr class="hover text-red-400"  >
                      <th>1</th>
                      <td><a href="/search?ticker=BBBY" class="hover:underline">BBBY</a></td>
                      <td>340.93M</td>
                      <td>-35.34%</td>
                    </tr>
                    <!-- row 2 -->
                    <tr class="hover text-red-400"  >
                      <th>2</th>
                      <td><a href="/search?ticker=MULN" class="hover:underline">MULN</a></td>
                      <td>215.39M</td>
                      <td>-5.78%</td>
                    </tr>
                    <!-- row 3 -->
                    <tr class="hover text-red-400"  >
                      <th>3</th>
                      <td><a href="/search?ticker=TSLA" class="hover:underline">TSLA</a></td>
                      <td>210.77M</td>
                      <td>-9.75%</td>
                    </tr>
                    <tr class="hover text-red-400"  >
                        <th>4</th>
                        <td><a href="/search?ticker=T" class="hover:underline">T</a></td>
                        <td>129.87M</td>
                        <td>-10.41%</td>
                      </tr>
                      <tr class="hover text-red-400"  >
                        <th>5</th>
                        <td><a href="/search?ticker=IDEX" class="hover:underline">IDEX</a></td>
                        <td>114.24M</td>
                        <td>-20.34%</td>
                      </tr>
                      <tr class="hover text-red-400"  >
                        <th>6</th>
                        <td><a href="/search?ticker=F" class="hover:underline">F</a></td>
                        <td>79.55M</td>
                        <td>-2.86%</td>
                      </tr>
                      <tr class="hover text-green-400"  >
                        <th>7</th>
                        <td><a href="/search?ticker=CNSP" class="hover:underline">CNSP</a></td>
                        <td>71.35M</td>
                        <td>+48.02%</td>
                      </tr>
                      <tr class="hover text-red-400"  >
                        <th>8</th>
                        <td><a href="/search?ticker=NIO" class="hover:underline">NIO</a></td>
                        <td>59.54M</td>
                        <td>-5.80%</td>
                      </tr>
                      <tr class="hover text-red-400"  >
                        <th>9</th>
                        <td><a href="/search?ticker=NOK" class="hover:underline">NOK</a></td>
                        <td>58.37M</td>
                        <td>-9.09%</td>
                      </tr>
                      <tr class="hover text-red-400"  >
                        <th>10</th>
                        <td><a href="/search?ticker=AMZN" class="hover:underline">AMZN</a></td>
                        <td>57.66M</td>
                        <td>-0.47%</td>
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>
        <div class=" min-w-max max-w-full p-[3%] row-span-1 lg:col-span-1  text-white rounded-lg min-h-min border-rose-400 border-2 max-lg:my-6">
            <div class="overflow-x-auto scrollbar minimalist">
                <div class="pb-9">
                    <h5 href="#" onclick="openTab('gainers')" class="sub_title font-bold text-2xl text-magenta-500 underline-on-hover">Daily Top Gainers</h5>
                </div> <!-- section title -->
                <table class="table  w-full">
                  <!-- head -->
                  <thead>
                    <tr class="hover">
                      <th></th>
                      <th>Ticker</th>
                      <th>% Chg</th>
                      <th>Last Price</th>
                    </tr>
                  </thead>
                  <tbody class ="text-green-400">
                    <!-- row 1 -->
                    <tr class="hover" >
                      <th>1</th>
                      <td><a href="/search?ticker=WLGS" class="hover:underline">WLGS</a></td>
                      <td>77.10%</td>
                      <td>$5.49</td>
                    </tr>
                    <!-- row 2 -->
                    <tr class="hover" >
                      <th>2</th>
                      <td><a href="/search?ticker=AZYO" class="hover:underline">AZYO</a></td>
                      <td>35.54%</td>
                      <td>$2.25</td>
                    </tr>
                    <!-- row 3 -->
                    <tr class="hover" >
                      <th>3</th>
                      <td><a href="/search?ticker=HSTO" class="hover:underline">HSTO</a></td>
                      <td>22.77%</td>
                      <td>$1.24</td>
                    </tr>
                    <tr class="hover" >
                        <th>4</th>
                        <td><a href="/search?ticker=WISH" class="hover:underline">WISH</a></td>
                        <td>22.56%</td>
                        <td>$8.80</td>
                      </tr>
                      <tr class="hover" >
                        <th>5</th>
                        <td><a href="/search?ticker=AEMD" class="hover:underline">AEMD</a></td>
                        <td>18.63%</td>
                        <td>$0.6999</td>
                      </tr>
                      <tr class="hover" >
                        <th>6</th>
                        <td><a href="/search?ticker=MULN" class="hover:underline">MULN</a></td>
                        <td>16.65%</td>
                        <td>$0.0988</td>
                      </tr>
                      <tr class="hover" >
                        <th>7</th>
                        <td><a href="/search?ticker=PRFX" class="hover:underline">PRFX</a></td>
                        <td>14.04%</td>
                        <td>$0.65</td>
                      </tr>
                      <tr class="hover" >
                        <th>8</th>
                        <td><a href="/search?ticker=BWEN" class="hover:underline">BWEN</a></td>
                        <td>12.99%</td>
                        <td>$5.22</td>
                      </tr>
                      <tr class="hover" >
                        <th>9</th>
                        <td><a href="/search?ticker=THMO" class="hover:underline">THMO</a></td>
                        <td>11.17%</td>
                        <td>$2.29</td>
                      </tr>
                      <tr class="hover" >
                        <th>10</th>
                        <td><a href="/search?ticker=MAPS" class="hover:underline">MAPS</a></td>
                        <td>10.04%</td>
                        <td>$0.7597</td>
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>
        <div class=" min-w-max max-w-full p-[3%] row-span-1 lg:col-span-1  text-white rounded-lg min-h-min border-indigo-400 border-2 max-lg:my-6">
            <div class="overflow-x-auto scrollbar minimalist">
                <div class="pb-9">
                    <h5 href="#" onclick="openTab('losers')" class="sub_title font-bold text-2xl text-magenta-500 underline-on-hover">Daily Top Losers</h5>
                </div> <!-- section title -->
                <table class="table  w-full">
                  <!-- head -->
                  <thead>
                    <tr class="hover">
                      <th></th>
                      <th>Ticker</th>
                      <th>% Chg</th>
                      <th>Last Price</th>
                    </tr>
                  </thead>
                  <tbody class="text-red-400">
                    <!-- row 1 -->
                    <tr class="hover" >
                      <th>1</th>
                      <td><a href="/search?ticker=SIDU" class="hover:underline">SIDU</a></td>
                      <td>-22.69%</td>
                      <td>$0.29</td>
                    </tr>
                    <!-- row 2 -->
                    <tr   class="hover">
                      <th>2</th>
                      <td><a href="/search?ticker=PEV" class="hover:underline">PEV</a></td>
                      <td>-18.09%</td>
                      <td>$0.77</td>
                    </tr>
                    <!-- row 3 -->
                    <tr class="hover" >
                      <th>3</th>
                      <td><a href="/search?ticker=UCAR" class="hover:underline">UCAR</a></td>
                      <td>-14.31%</td>
                      <td>$37.00</td>
                    </tr>
                    <tr class="hover" >
                        <th>4</th>
                        <td><a href="/search?ticker=SATX" class="hover:underline">SATX</a></td>
                        <td>-13.57%</td>
                        <td>$1.21</td>
                      </tr>
                      <tr class="hover" >
                        <th>5</th>
                        <td><a href="/search?ticker=SNAX" class="hover:underline">SNAX</a></td>
                        <td>-12.48%</td>
                        <td>$0.4201</td>
                      </tr>
                      <tr class="hover" >
                        <th>6</th>
                        <td><a href="/search?ticker=PSTV" class="hover:underline">PSTV</a></td>
                        <td>-12.35%</td>
                        <td>$0.269</td>
                      </tr>
                      <tr class="hover" >
                        <th>7</th>
                        <td><a href="/search?ticker=POAI" class="hover:underline">POAI</a></td>
                        <td>-10.80%</td>
                        <td>$0.247</td>
                      </tr>
                      <tr class="hover" >
                        <th>8</th>
                        <td><a href="/search?ticker=RCRT" class="hover:underline">RCRT</a></td>
                        <td>-10.36%</td>
                        <td>$0.2958</td>
                      </tr>
                      <tr class="hover" >
                        <th>9</th>
                        <td><a href="/search?ticker=KPLT" class="hover:underline">KPLT</a></td>
                        <td>-9.79%</td>
                        <td>$0.46</td>
                      </tr>
                      <tr class="hover" >
                        <th>10</th>
                        <td><a href="/search?ticker=VLON" class="hover:underline">VLON</a></td>
                        <td>-8.91%</td>
                        <td>$0.419</td>
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>
      </div>


      <div class="mx-16 p-[3%] text-white rounded-lg min-h-min border-indigo-400 border-2 px-4 sm:px-8 md:px-12 lg:px-16">
        <div class="overflow-x-auto scrollbar minimalist">
            <div class="pb-9">
                <h5 href="#" onclick="openTab('options')" class="sub_title font-bold text-2xl text-magenta-500 underline-on-hover">Top Options</h5>
            </div> <!-- section title -->
            <table class="table  w-full">
              <!-- head -->
              <thead>
                <tr class="hover">
                  <th></th>
                  <th>Ticker</th>
                  <th>Total Volume</th>
                  <th>P/C Volume Ratio</th>
                  <th>Total Position</th>
                  <th>P/C Open Int Ratio</th>
                  <th>Underlying Price</th>
                  <th>Underlying Change%</th>
                </tr>
              </thead>
              <tbody class="text-red-400">
                <!-- row 1 -->
                <tr class="hover" >
                  <th>1</th>
                  <td><a href="/search?ticker=SIDU" class="hover:underline">SIDU</a></td>
                  <td>-22.69%</td>
                  <td>$0.29</td>
                </tr>
                <!-- row 2 -->
                <tr   class="hover">
                  <th>2</th>
                  <td><a href="/search?ticker=PEV" class="hover:underline">PEV</a></td>
                  <td>-18.09%</td>
                  <td>$0.77</td>
                </tr>
                <!-- row 3 -->
                <tr class="hover" >
                  <th>3</th>
                  <td><a href="/search?ticker=UCAR" class="hover:underline">UCAR</a></td>
                  <td>-14.31%</td>
                  <td>$37.00</td>
                </tr>
                <tr class="hover" >
                    <th>4</th>
                    <td><a href="/search?ticker=SATX" class="hover:underline">SATX</a></td>
                    <td>-13.57%</td>
                    <td>$1.21</td>
                  </tr>
                  <tr class="hover" >
                    <th>5</th>
                    <td><a href="/search?ticker=SNAX" class="hover:underline">SNAX</a></td>
                    <td>-12.48%</td>
                    <td>$0.4201</td>
                  </tr>
                  <tr class="hover" >
                    <th>6</th>
                    <td><a href="/search?ticker=PSTV" class="hover:underline">PSTV</a></td>
                    <td>-12.35%</td>
                    <td>$0.269</td>
                  </tr>
                  <tr class="hover" >
                    <th>7</th>
                    <td><a href="/search?ticker=POAI" class="hover:underline">POAI</a></td>
                    <td>-10.80%</td>
                    <td>$0.247</td>
                  </tr>
                  <tr class="hover" >
                    <th>8</th>
                    <td><a href="/search?ticker=RCRT" class="hover:underline">RCRT</a></td>
                    <td>-10.36%</td>
                    <td>$0.2958</td>
                  </tr>
                  <tr class="hover" >
                    <th>9</th>
                    <td><a href="/search?ticker=KPLT" class="hover:underline">KPLT</a></td>
                    <td>-9.79%</td>
                    <td>$0.46</td>
                  </tr>
                  <tr class="hover" >
                    <th>10</th>
                    <td><a href="/search?ticker=VLON" class="hover:underline">VLON</a></td>
                    <td>-8.91%</td>
                    <td>$0.419</td>
                  </tr>
              </tbody>
            </table>
          </div>
      </div>



      <br>




      <div class="mx-16 p-[3%] text-white rounded-lg min-h-min border-indigo-400 border-2 px-4 sm:px-8 md:px-12 lg:px-16">
        <div class="overflow-x-auto scrollbar minimalist">
            <div class="pb-9">
                <h5 href="#" onclick="openTab('calendar')" class="sub_title font-bold text-2xl text-magenta-500 underline-on-hover">Calendar Earnings</h5>
            </div> <!-- section title -->
            <table class="table  w-full">
              <!-- head -->
              <thead>
                <tr class="hover">
                  <th></th>
                  <th>Ticker</th>
                  <th>Release Time</th>
                  <th>EPS Estimate</th>
                  <th>Last EPS</th>
                </tr>
              </thead>
              <tbody class="text-red-400">
                <!-- row 1 -->
                <tr class="hover" >
                  <th>1</th>
                  <td><a href="/search?ticker=SIDU" class="hover:underline">SIDU</a></td>
                  <td>-22.69%</td>
                  <td>$0.29</td>
                </tr>
                <!-- row 2 -->
                <tr   class="hover">
                  <th>2</th>
                  <td><a href="/search?ticker=PEV" class="hover:underline">PEV</a></td>
                  <td>-18.09%</td>
                  <td>$0.77</td>
                </tr>
                <!-- row 3 -->
                <tr class="hover" >
                  <th>3</th>
                  <td><a href="/search?ticker=UCAR" class="hover:underline">UCAR</a></td>
                  <td>-14.31%</td>
                  <td>$37.00</td>
                </tr>
                <tr class="hover" >
                    <th>4</th>
                    <td><a href="/search?ticker=SATX" class="hover:underline">SATX</a></td>
                    <td>-13.57%</td>
                    <td>$1.21</td>
                  </tr>
                  <tr class="hover" >
                    <th>5</th>
                    <td><a href="/search?ticker=SNAX" class="hover:underline">SNAX</a></td>
                    <td>-12.48%</td>
                    <td>$0.4201</td>
                  </tr>
                  <tr class="hover" >
                    <th>6</th>
                    <td><a href="/search?ticker=PSTV" class="hover:underline">PSTV</a></td>
                    <td>-12.35%</td>
                    <td>$0.269</td>
                  </tr>
                  <tr class="hover" >
                    <th>7</th>
                    <td><a href="/search?ticker=POAI" class="hover:underline">POAI</a></td>
                    <td>-10.80%</td>
                    <td>$0.247</td>
                  </tr>
                  <tr class="hover" >
                    <th>8</th>
                    <td><a href="/search?ticker=RCRT" class="hover:underline">RCRT</a></td>
                    <td>-10.36%</td>
                    <td>$0.2958</td>
                  </tr>
                  <tr class="hover" >
                    <th>9</th>
                    <td><a href="/search?ticker=KPLT" class="hover:underline">KPLT</a></td>
                    <td>-9.79%</td>
                    <td>$0.46</td>
                  </tr>
                  <tr class="hover" >
                    <th>10</th>
                    <td><a href="/search?ticker=VLON" class="hover:underline">VLON</a></td>
                    <td>-8.91%</td>
                    <td>$0.419</td>
                  </tr>
              </tbody>
            </table>
          </div>
      </div>







      
    </div>

    <div id="gainers" class="tab-content mt-4 mx-16 z-[3] mb-10">
      <h2 class="text-xl font-bold mb-10">Top Gainers</h2>
      <div class="mx-16 p-[3%] text-white rounded-lg min-h-min border-indigo-400 border-2 px-4 sm:px-8 md:px-12 lg:px-16">
        <div class="overflow-x-auto scrollbar minimalist">
            <table class="table  w-full">
              <!-- head -->
              <thead>
                <tr class="hover">
                  <th></th>
                  <th>Ticker</th>
                  <th>%Chg in 1D</th>
                  <th>Last Price</th>
                  <th>High</th>
                  <th>Low</th>
                  <th>Volume</th>
                  <th>%Range</th>
                  <th>P/E</th>
                  <th>Market Cap</th>
                </tr>
              </thead>
              <tbody class="text-red-400">
                <!-- row 1 -->
                <tr class="hover" >
                  <th>1</th>
                  <td><a href="/search?ticker=SIDU" class="hover:underline">SIDU</a></td>
                  <td>-22.69%</td>
                  <td>$0.29</td>
                </tr>
                <!-- row 2 -->
                <tr   class="hover">
                  <th>2</th>
                  <td><a href="/search?ticker=PEV" class="hover:underline">PEV</a></td>
                  <td>-18.09%</td>
                  <td>$0.77</td>
                </tr>
                <!-- row 3 -->
                <tr class="hover" >
                  <th>3</th>
                  <td><a href="/search?ticker=UCAR" class="hover:underline">UCAR</a></td>
                  <td>-14.31%</td>
                  <td>$37.00</td>
                </tr>
                <tr class="hover" >
                    <th>4</th>
                    <td><a href="/search?ticker=SATX" class="hover:underline">SATX</a></td>
                    <td>-13.57%</td>
                    <td>$1.21</td>
                  </tr>
                  <tr class="hover" >
                    <th>5</th>
                    <td><a href="/search?ticker=SNAX" class="hover:underline">SNAX</a></td>
                    <td>-12.48%</td>
                    <td>$0.4201</td>
                  </tr>
                  <tr class="hover" >
                    <th>6</th>
                    <td><a href="/search?ticker=PSTV" class="hover:underline">PSTV</a></td>
                    <td>-12.35%</td>
                    <td>$0.269</td>
                  </tr>
                  <tr class="hover" >
                    <th>7</th>
                    <td><a href="/search?ticker=POAI" class="hover:underline">POAI</a></td>
                    <td>-10.80%</td>
                    <td>$0.247</td>
                  </tr>
                  <tr class="hover" >
                    <th>8</th>
                    <td><a href="/search?ticker=RCRT" class="hover:underline">RCRT</a></td>
                    <td>-10.36%</td>
                    <td>$0.2958</td>
                  </tr>
                  <tr class="hover" >
                    <th>9</th>
                    <td><a href="/search?ticker=KPLT" class="hover:underline">KPLT</a></td>
                    <td>-9.79%</td>
                    <td>$0.46</td>
                  </tr>
                  <tr class="hover" >
                    <th>10</th>
                    <td><a href="/search?ticker=VLON" class="hover:underline">VLON</a></td>
                    <td>-8.91%</td>
                    <td>$0.419</td>
                  </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>

    <div id="losers" class="tab-content mt-4 mx-16 z-[4] mb-10">
      <h2 class="text-xl font-bold mb-10">Top Losers</h2>
      <div class="mx-16 p-[3%] text-white rounded-lg min-h-min border-indigo-400 border-2 px-4 sm:px-8 md:px-12 lg:px-16">
        <div class="overflow-x-auto scrollbar minimalist">
            <table class="table  w-full">
              <!-- head -->
              <thead>
                <tr class="hover">
                  <th></th>
                  <th>Ticker</th>
                  <th>%Chg in 1D</th>
                  <th>Last Price</th>
                  <th>High</th>
                  <th>Low</th>
                  <th>Volume</th>
                  <th>%Range</th>
                  <th>P/E</th>
                  <th>Market Cap</th>
                </tr>
              </thead>
              <tbody class="text-red-400">
                <!-- row 1 -->
                <tr class="hover" >
                  <th>1</th>
                  <td><a href="/search?ticker=SIDU" class="hover:underline">SIDU</a></td>
                  <td>-22.69%</td>
                  <td>$0.29</td>
                </tr>
                <!-- row 2 -->
                <tr   class="hover">
                  <th>2</th>
                  <td><a href="/search?ticker=PEV" class="hover:underline">PEV</a></td>
                  <td>-18.09%</td>
                  <td>$0.77</td>
                </tr>
                <!-- row 3 -->
                <tr class="hover" >
                  <th>3</th>
                  <td><a href="/search?ticker=UCAR" class="hover:underline">UCAR</a></td>
                  <td>-14.31%</td>
                  <td>$37.00</td>
                </tr>
                <tr class="hover" >
                    <th>4</th>
                    <td><a href="/search?ticker=SATX" class="hover:underline">SATX</a></td>
                    <td>-13.57%</td>
                    <td>$1.21</td>
                  </tr>
                  <tr class="hover" >
                    <th>5</th>
                    <td><a href="/search?ticker=SNAX" class="hover:underline">SNAX</a></td>
                    <td>-12.48%</td>
                    <td>$0.4201</td>
                  </tr>
                  <tr class="hover" >
                    <th>6</th>
                    <td><a href="/search?ticker=PSTV" class="hover:underline">PSTV</a></td>
                    <td>-12.35%</td>
                    <td>$0.269</td>
                  </tr>
                  <tr class="hover" >
                    <th>7</th>
                    <td><a href="/search?ticker=POAI" class="hover:underline">POAI</a></td>
                    <td>-10.80%</td>
                    <td>$0.247</td>
                  </tr>
                  <tr class="hover" >
                    <th>8</th>
                    <td><a href="/search?ticker=RCRT" class="hover:underline">RCRT</a></td>
                    <td>-10.36%</td>
                    <td>$0.2958</td>
                  </tr>
                  <tr class="hover" >
                    <th>9</th>
                    <td><a href="/search?ticker=KPLT" class="hover:underline">KPLT</a></td>
                    <td>-9.79%</td>
                    <td>$0.46</td>
                  </tr>
                  <tr class="hover" >
                    <th>10</th>
                    <td><a href="/search?ticker=VLON" class="hover:underline">VLON</a></td>
                    <td>-8.91%</td>
                    <td>$0.419</td>
                  </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>

    <div id="active" class="tab-content mt-4 mx-16 z-[5] mb-10">
      <h2 class="text-xl font-bold mb-10">Most Active</h2>
      <div class="mx-16 p-[3%] text-white rounded-lg min-h-min border-indigo-400 border-2 px-4 sm:px-8 md:px-12 lg:px-16">
        <div class="overflow-x-auto scrollbar minimalist">
            <table class="table  w-full">
              <!-- head -->
              <thead>
                <tr class="hover">
                  <th></th>
                  <th>Ticker</th>
                  <th>Volume</th>
                  <th>% Change</th>
                  <th>Last Price</th>
                  <th>High</th>
                  <th>Low</th>
                  <th>%Range</th>
                  <th>%Turnover</th>
                  <th>Market Cap</th>
                </tr>
              </thead>
              <tbody class="text-red-400">
                <!-- row 1 -->
                <tr class="hover" >
                  <th>1</th>
                  <td><a href="/search?ticker=SIDU" class="hover:underline">SIDU</a></td>
                  <td>-22.69%</td>
                  <td>$0.29</td>
                </tr>
                <!-- row 2 -->
                <tr   class="hover">
                  <th>2</th>
                  <td><a href="/search?ticker=PEV" class="hover:underline">PEV</a></td>
                  <td>-18.09%</td>
                  <td>$0.77</td>
                </tr>
                <!-- row 3 -->
                <tr class="hover" >
                  <th>3</th>
                  <td><a href="/search?ticker=UCAR" class="hover:underline">UCAR</a></td>
                  <td>-14.31%</td>
                  <td>$37.00</td>
                </tr>
                <tr class="hover" >
                    <th>4</th>
                    <td><a href="/search?ticker=SATX" class="hover:underline">SATX</a></td>
                    <td>-13.57%</td>
                    <td>$1.21</td>
                  </tr>
                  <tr class="hover" >
                    <th>5</th>
                    <td><a href="/search?ticker=SNAX" class="hover:underline">SNAX</a></td>
                    <td>-12.48%</td>
                    <td>$0.4201</td>
                  </tr>
                  <tr class="hover" >
                    <th>6</th>
                    <td><a href="/search?ticker=PSTV" class="hover:underline">PSTV</a></td>
                    <td>-12.35%</td>
                    <td>$0.269</td>
                  </tr>
                  <tr class="hover" >
                    <th>7</th>
                    <td><a href="/search?ticker=POAI" class="hover:underline">POAI</a></td>
                    <td>-10.80%</td>
                    <td>$0.247</td>
                  </tr>
                  <tr class="hover" >
                    <th>8</th>
                    <td><a href="/search?ticker=RCRT" class="hover:underline">RCRT</a></td>
                    <td>-10.36%</td>
                    <td>$0.2958</td>
                  </tr>
                  <tr class="hover" >
                    <th>9</th>
                    <td><a href="/search?ticker=KPLT" class="hover:underline">KPLT</a></td>
                    <td>-9.79%</td>
                    <td>$0.46</td>
                  </tr>
                  <tr class="hover" >
                    <th>10</th>
                    <td><a href="/search?ticker=VLON" class="hover:underline">VLON</a></td>
                    <td>-8.91%</td>
                    <td>$0.419</td>
                  </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>

    <div id="options" class="tab-content mt-4 mx-16 z-[6] mb-10">
      <h2 class="text-xl font-bold mb-10">Top Options</h2>
      <div class="mx-16 p-[3%] text-white rounded-lg min-h-min border-indigo-400 border-2 px-4 sm:px-8 md:px-12 lg:px-16">
        <div class="overflow-x-auto scrollbar minimalist">
            <table class="table  w-full">
              <!-- head -->
              <thead>
                <tr class="hover">
                  <th></th>
                  <th>Ticker</th>
                  <th>Total Volume</th>
                  <th>P/C Volume Ratio</th>
                  <th>Total Position</th>
                  <th>P/C Open Int Ratio</th>
                  <th>Underlying Price</th>
                  <th>Underlying Change%</th>
                </tr>
              </thead>
              <tbody class="text-red-400">
                <!-- row 1 -->
                <tr class="hover" >
                  <th>1</th>
                  <td><a href="/search?ticker=SIDU" class="hover:underline">SIDU</a></td>
                  <td>-22.69%</td>
                  <td>$0.29</td>
                </tr>
                <!-- row 2 -->
                <tr   class="hover">
                  <th>2</th>
                  <td><a href="/search?ticker=PEV" class="hover:underline">PEV</a></td>
                  <td>-18.09%</td>
                  <td>$0.77</td>
                </tr>
                <!-- row 3 -->
                <tr class="hover" >
                  <th>3</th>
                  <td><a href="/search?ticker=UCAR" class="hover:underline">UCAR</a></td>
                  <td>-14.31%</td>
                  <td>$37.00</td>
                </tr>
                <tr class="hover" >
                    <th>4</th>
                    <td><a href="/search?ticker=SATX" class="hover:underline">SATX</a></td>
                    <td>-13.57%</td>
                    <td>$1.21</td>
                  </tr>
                  <tr class="hover" >
                    <th>5</th>
                    <td><a href="/search?ticker=SNAX" class="hover:underline">SNAX</a></td>
                    <td>-12.48%</td>
                    <td>$0.4201</td>
                  </tr>
                  <tr class="hover" >
                    <th>6</th>
                    <td><a href="/search?ticker=PSTV" class="hover:underline">PSTV</a></td>
                    <td>-12.35%</td>
                    <td>$0.269</td>
                  </tr>
                  <tr class="hover" >
                    <th>7</th>
                    <td><a href="/search?ticker=POAI" class="hover:underline">POAI</a></td>
                    <td>-10.80%</td>
                    <td>$0.247</td>
                  </tr>
                  <tr class="hover" >
                    <th>8</th>
                    <td><a href="/search?ticker=RCRT" class="hover:underline">RCRT</a></td>
                    <td>-10.36%</td>
                    <td>$0.2958</td>
                  </tr>
                  <tr class="hover" >
                    <th>9</th>
                    <td><a href="/search?ticker=KPLT" class="hover:underline">KPLT</a></td>
                    <td>-9.79%</td>
                    <td>$0.46</td>
                  </tr>
                  <tr class="hover" >
                    <th>10</th>
                    <td><a href="/search?ticker=VLON" class="hover:underline">VLON</a></td>
                    <td>-8.91%</td>
                    <td>$0.419</td>
                  </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>

    <div id="calendar" class="tab-content mt-4 mx-16 z-[7] mb-10">
      <h2 class="text-xl font-bold mb-10">Calendar</h2>
      <div class="mx-16 p-[3%] text-white rounded-lg min-h-min border-indigo-400 border-2 px-4 sm:px-8 md:px-12 lg:px-16">
        <div class="overflow-x-auto scrollbar minimalist">
            <div class="pb-9">
                <h5 href="#" onclick="openTab('earningscalendar')" class="sub_title font-bold text-2xl text-magenta-500 underline-on-hover">Calendar Earnings</h5>
            </div> <!-- section title -->
            <table class="table  w-full">
              <!-- head -->
              <thead>
                <tr class="hover">
                  <th></th>
                  <th>Ticker</th>
                  <th>%Chg in 1D</th>
                  <th>LRelease Time</th>
                  <th>EPS Estimate</th>
                  <th>Last EPS</th>
                  <th>Last EPS Date</th>
                  <th>Market Cap</th>
                </tr>
              </thead>
              <tbody class="text-red-400">
                <!-- row 1 -->
                <tr class="hover" >
                  <th>1</th>
                  <td><a href="/search?ticker=SIDU" class="hover:underline">SIDU</a></td>
                  <td>-22.69%</td>
                  <td>$0.29</td>
                </tr>
                <!-- row 2 -->
                <tr   class="hover">
                  <th>2</th>
                  <td><a href="/search?ticker=PEV" class="hover:underline">PEV</a></td>
                  <td>-18.09%</td>
                  <td>$0.77</td>
                </tr>
                <!-- row 3 -->
                <tr class="hover" >
                  <th>3</th>
                  <td><a href="/search?ticker=UCAR" class="hover:underline">UCAR</a></td>
                  <td>-14.31%</td>
                  <td>$37.00</td>
                </tr>
                <tr class="hover" >
                    <th>4</th>
                    <td><a href="/search?ticker=SATX" class="hover:underline">SATX</a></td>
                    <td>-13.57%</td>
                    <td>$1.21</td>
                  </tr>
                  <tr class="hover" >
                    <th>5</th>
                    <td><a href="/search?ticker=SNAX" class="hover:underline">SNAX</a></td>
                    <td>-12.48%</td>
                    <td>$0.4201</td>
                  </tr>
                  <tr class="hover" >
                    <th>6</th>
                    <td><a href="/search?ticker=PSTV" class="hover:underline">PSTV</a></td>
                    <td>-12.35%</td>
                    <td>$0.269</td>
                  </tr>
                  <tr class="hover" >
                    <th>7</th>
                    <td><a href="/search?ticker=POAI" class="hover:underline">POAI</a></td>
                    <td>-10.80%</td>
                    <td>$0.247</td>
                  </tr>
                  <tr class="hover" >
                    <th>8</th>
                    <td><a href="/search?ticker=RCRT" class="hover:underline">RCRT</a></td>
                    <td>-10.36%</td>
                    <td>$0.2958</td>
                  </tr>
                  <tr class="hover" >
                    <th>9</th>
                    <td><a href="/search?ticker=KPLT" class="hover:underline">KPLT</a></td>
                    <td>-9.79%</td>
                    <td>$0.46</td>
                  </tr>
                  <tr class="hover" >
                    <th>10</th>
                    <td><a href="/search?ticker=VLON" class="hover:underline">VLON</a></td>
                    <td>-8.91%</td>
                    <td>$0.419</td>
                  </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>










    <div id="earningscalendar" class="tab-content mt-4 mx-16 z-[7] mb-10">
      <h2 class="text-xl font-bold mb-10">Earnings Calendar</h2>
      <button class="calendar-button" onclick="toggleCalendar()">Start Date</button>
  
      <div class="light">
        <div class="calendar">
          <!-- Calendar HTML code goes here -->
          <div class="calendar-header">
            <span class="month-picker" id="month-picker">April</span>
            <div class="year-picker">
              <span class="year-change" id="prev-year">
                <pre><</pre>
              </span>
              <span id="year">2022</span>
              <span class="year-change" id="next-year">
                <pre>></pre>
              </span>
            </div>
          </div>
          <div class="calendar-body">
            <div class="calendar-week-day">
              <div>Sun</div>
              <div>Mon</div>
              <div>Tue</div>
              <div>Wed</div>
              <div>Thu</div>
              <div>Fri</div>
              <div>Sat</div>
            </div>
            <div class="calendar-days"></div>
          </div>
          <div class="month-list"></div>
        </div>
      </div>
    
      
    </div>








  </div>
</div>

{% endblock wholebody %}


{% block script %}
<script src="{{ url_for('static', filename='js/market.js') }}"></script>

<script>
  let tabBar;
  const divider = document.getElementById('divider');
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        // Add the classes to the sticky-tab-bar
        tabBar.classList.add('drop-shadow-2xl');
        tabBar.classList.add('shadow-2xl');
      } else {
        // Remove the classes from the sticky-tab-bar
        tabBar.classList.remove('drop-shadow-2xl');
        tabBar.classList.remove('shadow-2xl');
      }
    });
  }, {
    threshold: 0,
    root: document.querySelector('.navbar'), // Make sure the sticky-tab-bar is inside this element
  });
  window.addEventListener('scroll', function() {
    tabBar = document.getElementById('topNav');
    var navbar = document.querySelector('.navbar');
    var navbarHeight = navbar.offsetHeight;
    var offset = 2 * 24; // 2rem * 16px per rem

    if (window.pageYOffset >= navbarHeight - offset) {
      tabBar.style.top = offset + 'px';
       tabBar.classList.add('drop-shadow-2xl');
      tabBar.classList.add('shadow-2xl');
    } else {
      tabBar.style.top = navbarHeight - window.pageYOffset + 'px';
      tabBar.classList.remove('drop-shadow-2xl');
      tabBar.classList.remove('shadow-2xl');
    }
      // Create a new Intersection Observer instance
    

    // Start observing the toptabBar element
    let observed = false;
    if(tabBar != null && !observed) {
      observer.observe(divider);
      observed = true;
    }
  });
  // Select the elements

</script>

<script>
  function openTab(tabId) {
    const tabs = document.getElementsByClassName('tab-content');
    for (let i = 0; i < tabs.length; i++) {
      tabs[i].classList.remove('active');
    }
    document.getElementById(tabId).classList.add('active');
  }
</script>

<script>
let calendar = document.querySelector('.calendar');

const month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

isLeapYear = (year) => {
  return (year % 4 === 0 && year % 100 !== 0) || (year % 100 === 0 && year % 400 === 0);
};

getFebDays = (year) => {
  return isLeapYear(year) ? 29 : 28;
};

generateCalendar = (month, year) => {
  let calendar_days = calendar.querySelector('.calendar-days');
  let calendar_header_year = calendar.querySelector('#year');

  let days_of_month = [31, getFebDays(year), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

  calendar_days.innerHTML = '';

  let currDate = new Date();
  if (month > 11 || month < 0) month = currDate.getMonth();
  if (!year) year = currDate.getFullYear();

  let curr_month = `${month_names[month]}`;
  month_picker.innerHTML = curr_month;
  calendar_header_year.innerHTML = year;

  let first_day = new Date(year, month, 1);

  for (let i = 0; i <= days_of_month[month] + first_day.getDay() - 1; i++) {
    let day = document.createElement('div');
    if (i >= first_day.getDay()) {
      day.classList.add('calendar-day-hover');
      let dayValue = i - first_day.getDay() + 1;

      if (dayValue === currDate.getDate() && year === currDate.getFullYear() && month === currDate.getMonth()) {
        day.classList.add('curr-date');
        day.innerHTML = ('0' + dayValue).slice(-2);
      } else {
        day.innerHTML = dayValue;
      }

      day.innerHTML += `<span></span>
                        <span></span>
                        <span></span>
                        <span></span>`;
    }
    calendar_days.appendChild(day);
  }
};

let month_list = calendar.querySelector('.month-list');

month_names.forEach((e, index) => {
  let month = document.createElement('div');
  month.innerHTML = `<div data-month="${index}">${e}</div>`;
  month.querySelector('div').onclick = () => {
    month_list.classList.remove('show');
    curr_month.value = index;
    generateCalendar(index, curr_year.value);
  };
  month_list.appendChild(month);
});

let month_picker = calendar.querySelector('#month-picker');

month_picker.onclick = () => {
  month_list.classList.add('show');
};

let currDate = new Date();

let curr_month = { value: currDate.getMonth() };
let curr_year = { value: currDate.getFullYear() };

generateCalendar(curr_month.value, curr_year.value);

document.querySelector('#prev-year').onclick = () => {
  --curr_year.value;
  generateCalendar(curr_month.value, curr_year.value);
};

document.querySelector('#next-year').onclick = () => {
  ++curr_year.value;
  generateCalendar(curr_month.value, curr_year.value);
};

function toggleCalendar() {
  var calendar = document.querySelector('.calendar');
  calendar.style.display = calendar.style.display === 'none' ? 'block' : 'none';
}

</script>

{% endblock script %}