{% extends "template.html" %}
{% block title %}Simplify{% endblock title %}
{% block pageTitle %}Simplify{% endblock pageTitle %}
{% block body %}
{{ super() }}
<form class="form-control min-w-full ml-2" role="search" method="POST" action="" autocapitalize="characters" autocomplete="off">
  <div class="gradient-text text-2xl mb-2">
    <h1>"{{ game }}" Sell Stocks:</h1>
  </div>
    <div class="flex flex-col gap-y-6">
      {% if not sellPreviewPassed %}
        {% if sellStock.ticker.errors %}
        {{ sellStock.ticker(class="input input-bordered w-full") }}
            {% for error in sellStock.ticker.errors %}
            <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
        {% else %}
            {{ sellStock.ticker(class="input input-bordered w-full") }}
        {% endif %}
        {% if sellStock.quantity.errors %}
        {{ sellStock.quantity(class="input input-bordered w-full") }}
            {% for error in sellStock.quantity.errors %}
            <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
        {% else %}
            {{ sellStock.quantity(class="input input-bordered w-full") }}
        {% endif %}
        {{sellStock.submit(class="btn btn-primary border-indigo-400 bg-transparent hover:gradient-bg hover:border-indigo-400  transition-all ")}}
      {% else %}
        <div class="flex justify-center items-center text-green-400 text-xl font-bold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full min-w-64 h-8 p-4 mb-2 text-center">
          <p>Ticker: {{ticker.upper()}}</p>
        </div>
        <div class="flex justify-center items-center text-green-400 text-xl font-bold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full min-w-64 h-8 p-4 mb-2 text-center">
          <p>Quantity: {{quantity}}</p>
        </div>
        <div class="flex justify-center items-center text-red-400 text-xl font-bold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full min-w-64 h-8 p-4 mb-2 text-center">
          <p>Price Per Share: ${{price.__round__(2)}}</p>
        </div>
        <div class="flex justify-center items-center text-red-400 text-xl font-bold hover:bg-white/[0.075] bg-transparent border-2 border-white/25 hover:border-transparent rounded-full min-w-64 h-8 p-4 mb-2 text-center">
          <p>Total Sold: ${{(price * quantity).__round__(2)}}</p>
        </div>
        {{confirm.confirm(class="btn btn-primary border-indigo-400 bg-transparent hover:gradient-bg hover:border-indigo-400  transition-all ")}}
      {% endif %}
    </div>
  </form>
{% endblock body %}
{{ super()}}
{% block search_results %}

{% if data != None %}
<div id="data">
  <h1 class="text-5xl text-primary mt-10 mb-10">Article Summary</h1>
  <h3 class="text-xl mt-10 mb-10">{{data}}</h3>
  <button class="btn btn-primary border-indigo-400 bg-transparent hover:gradient-bg hover:border-indigo-400  transition-all inline-block"><a href="{{link}}" target="_blank">Go to Original Article</a></button>
</div>
{% endif %}
{% endblock search_results %}

{% block footerClass %}fixed-bottom{% endblock footerClass %}