{% extends "template.html" %}
{% block title %}Paper Trading{% endblock title %}
{% block wholebody %}

  <h1 class="text-3xl gradient-text my-12 font-bold underline ">Leaderboard</h1> 
  <table class="table table-zebra w-full text-white">
    <thead>
      <tr class="text-2xl">
        <th class="text-xl">Name</th>
        <th class="text-xl">Value</th>
        <th class="text-xl">Growth</th>
      </tr>
    </thead>
    <tbody> 
      {% for user in leaderboard %}
        <tr class="hover">
          <th class="font-light">{{ user.id }}</th>
          <th class="font-light">{{ user.get_portfolio_value() }}</th>
          <th class="font-light">{{ user.growth() }}%</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h1 class="text-3xl gradient-text my-12 font-bold underline ">Owned Stocks</h1> 

  <table class="table table-zebra w-full text-white">
    <thead>
      <tr class="text-2xl">
        <th class="text-xl">Ticker</th>
        <th class="text-xl">Quantity</th>
        <th class="text-xl">Price</th>
        <!-- <th class="text-xl">Purchase Price</th>
        <th class="text-xl">Change</th>
        <th class="text-xl">% Chg</th> -->
        <th class="text-xl">Value</th>
        <th class="text-xl">Portfolio %</th>
      </tr>
    </thead>
    <tbody> 
        {% for stock, quantity in userDetail.portfolio.items() %}
          <tr class="hover">
            <th class="font-light">{{ stock }}</th>
            <th class="font-light">{{ quantity }}</th>
            <th class="font-light">${{ userDetail.get_price(stock)[-1] }}</th>
            <!-- <th class="font-light">{{ userDetail.get_price(stock)[0] }}</th> -->
            <th class="font-light">${{ userDetail.get_price(stock)[-1] * quantity }}</th>
            <th class="font-light"> {{ userDetail.get_price(stock)[-1] * quantity /  userDetail.get_portfolio_value()}} </th>
          </tr>
        {% endfor %}
        <tr class="col-span-5 hover">
          <div class="card w-full border-2 mt-6 border-dashed border-white/[0.1]">
            <div class="card-body m-auto">
              <div class="card-title m-auto">
                You have bought {{ userDetail.get_portfolio_value() }} worth of stocks.
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
    
 

{% block body %}

{% endblock body %}
{% block results %}{% endblock results %}
{% endblock wholebody %}