{% extends "template.html" %}
{% block title %}Paper Trading{% endblock title %}
{% block wholebody %}

  <table class="table table-zebra w-full text-white">
    <thead>
      <tr class="text-2xl">
        <th class="text-xl">Name</th>
        <th class="text-xl">Value</th>
        <th class="text-xl">Growth</th>
      </tr>
    </thead>
    <tbody> 
      <tr class="hover">
        <th class="font-light">{{ userDetail.id }}</th>
        <th class="font-light">{{ userDetail.get_portfolio_value() }}</th>
        <th class="font-light">{{ userDetail.growth() }}%</th>
      </tr>
      {% for otherUser in otherDetail %}
        <tr class="hover">
          <th class="font-light">{{ otherUser.id }}</th>
          <th class="font-light">{{ otherUser.get_portfolio_value() }}</th>
          <th class="font-light">{{ otherUser.growth() }}%</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
 

{% block body %}

{% endblock body %}
{% block results %}{% endblock results %}
{% endblock wholebody %}