{% extends "template.html" %}
{% block title %}Profile{% endblock title %}
{% block body %}
{{ super() }}
<div class="container mx-auto px-4 -translate-y-[1.5rem]">
  <!-- User avatar and welcome message -->
  <div class="flex items-center py-6">
    <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="User avatar" class="h-16 aspect-square rounded-full bg-contain">
    <h1 class="ml-3 font-bold text-6xl">Welcome, <span class="gradient-text">{{ current_identity }}!</span></h1>
  </div>
  
  <h1 class="text-3xl text-white my-12 font-bold underline decoration-purple-400"">Your Paper Trading Games</h1> 
  <!-- Paper trading simulations -->
  <div class="my-6 flex lg:flex-row flex-col  lg:gap-x-8 gap-y-8">
    {% for g in games %}
      {{ 
        macros.card_graph(title=g.name,
                    text_gain_loss='$'+(g.get_portfolio_value()).__round__(2).__str__(),
                    text_pct_change=g.growth().__round__(3).__str__() + '%',
                    button='Go to Simulation',
                    buttonLink= '/paper-trading?' + g.get_url_from_name(),
        )
      }}
    {% endfor %}
    
    
    <div class="card w-96 border-4 border-dashed border-white/[0.1]">
      <div class="card-body m-auto">
        <div class="card-title m-auto">
          <div class="rounded-full text-7xl w-24 aspect-square text-white/75   bg-white/[0.1] text-center my-auto font-[10] py-4">+</div>
        </div>
        <a href="#create-game" class="text-xl btn btn-primary border-indigo-400 bg-transparent hover:gradient-bg hover:border-indigo-400  transition-all">Create a Game</a>
      </div>
    </div>
  </div>

  <!-- Favorited stocks -->
  <h1 class="text-3xl text-white my-12 font-bold underline decoration-purple-400"">Favorite Stocks</h1> 
  <div class="my-6 flex lg:flex-row flex-col lg:gap-x-4 gap-y-4">
    {{
      macros.stock_chip(ticker='AAPL')
    }}
    {{
      macros.stock_chip(ticker='TSLA')
    }}
    {{
      macros.stock_chip(ticker='MSFT')
    }}
    {{
      macros.stock_chip(ticker='SBUX')
    }}
    <script>
      function fillTicker(ticker) {
        var tickerInput = document.getElementById('nav-search');
        tickerInput.value = ticker;
        document.getElementById('submit').click();
      }
    </script>
  </div>

  <!-- Chatbot conversations -->
  <!-- <h1 class="text-3xl text-white mt-12 font-bold underline decoration-purple-400"">Chatbot Conversations</h1> 
  <div class="my-6 flex lg:flex-row flex-col  lg:gap-x-8 gap-y-8">
    <div class="card card-primary"> 
      <div class="card-body"> 
        <h2 class="card-title">Chatbot Conversations</h2>
        <div id="conversations-list">
          <div class="card card-primary">
            <h2 class="card-title">Example Convo Title</h2>
            <p class="overflow-none w-full h-full">kasdfjfehu sdfhjksdhui sdfhuisdhui sdfuh sdfhui sdfhui sdf sdfhuio ehuiop wehuiop aehuipf fu8pasdh  ihua sdfihu isdf hupa sduipah sdfhuipa sdfhuipa asdfhuip uipasdf h sdhf ihug</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="modal" id="create-game">
  <div class="modal-box">
    <div class="modal-action">
      <h1 class="text-2xl text-white font-bold underline decoration-purple-400 text-left mr-40 leading-5">Create Game</h1>
      <a href="#" class="btn btn-primary border-indigo-400 bg-transparent hover:gradient-bg hover:border-indigo-400 transition-all ">Exit</a>
     </div>
    <form class="flex flex-col gap-y-6" method="POST" action="">
      {{ playersForm.name(class="input input-bordered w-full max-w-xs", placeholder="Game Name") }}
      {{ playersForm.starting_amount(class="input input-bordered w-full max-w-xs", placeholder="10000") }}
      <input type="text"  class="input input-bordered border-purple-400 w-full max-w-xs" placeholder="Owner: {{ current_identity }}" readonly></input>
      {{ playersForm.email_2(class="input input-bordered w-full max-w-xs", placeholder="Player 2: Email(optional)") }}
      {{ playersForm.email_3(class="input input-bordered w-full max-w-xs", placeholder="Player 3: Email(optional)") }}
      {{ playersForm.email_4(class="input input-bordered w-full max-w-xs", placeholder="Player 4: Email(optional)") }}
      {{ playersForm.email_5(class="input input-bordered w-full max-w-xs", placeholder="Player 5: Email(optional)") }}
      {{ playersForm.email_6(class="input input-bordered w-full max-w-xs", placeholder="Player 6: Email(optional)") }}
      {{playersForm.submit(class="btn btn-primary border-indigo-400 bg-transparent hover:gradient-bg hover:border-indigo-400  transition-all ")}}
    </form>
</div>
{% endblock body %}
{% block results %}{% endblock results %}