{% extends "template.html" %}
{% block title %}Register{% endblock title %}
{% block body %}
{{ super() }}
<div class="grid grid-rows-1 grid-cols-1 w-full h-[calc(100vh-4rem)] translate-y-[-4rem]  justify-items-center items-center ">
  
  <div>
    <h1 class="text-5xl font-bold text-indigo-400"> Sign up for <span class="gradient-text">investify.</span></h1>
    <form class="form-control max-w-full mx-auto w-96 p-6 rounded-lg " role="search" method="POST" action="" autocapitalize="characters" autocomplete="off">
      
      <label class="input-group my-3">
          <span>
              {{ registerForm.email.label(class="label") }}
          </span>
              {% if registerForm.email.errors %}
              {{ registerForm.email(class="input input-bordered w-full") }}
                  {% for error in registerForm.email.errors %}
                  <span class="invalid-feedback">{{ error }}</span>
                  {% endfor %}
              {% else %}
                  {{ registerForm.email(class="input input-bordered w-full") }}
              {% endif %}
      </label>
      <label class="input-group my-3">
          <span>
              {{ registerForm.password.label(class="label") }}
          </span>
              {% if registerForm.password.errors %}
              {{ registerForm.password(class="input input-bordered w-full") }}
                  {% for error in registerForm.password.errors %}
                  <span class="invalid-feedback">{{ error }}</span>
                  {% endfor %}
              {% else %}
                  {{ registerForm.password(class="input input-bordered w-full") }}
              {% endif %}
      </label>
      <br>
      {{ registerForm.submit(class="btn btn-primary font-normal gradient-bg transition-all border-none") }}
      <a class="btn btn-primary border-indigo-400 bg-transparent gradient-border hover:border-transparent  transition-all my-3 mt-6" href="/login/google"> Sign in with Google </a>
      <div class="divider"><span>Already have an account? <a href="/login" class="link gradient-text decoration-solid">Sign in.</a></span></div>
  </div>
  
  </form>
</div>
{% endblock body %}
{% block results %}{% endblock results %}