{% extends "template.html" %}
{% block title %}Reset Password{% endblock title %}
{% block body %}
{{ super() }}
<div class="grid grid-rows-1 grid-cols-1 w-full h-[calc(100vh-4rem)] translate-y-[-4rem]  justify-items-center items-center ">
  
  <div>
    <h1 class="text-5xl font-bold font-normal text-indigo-400"> Reset your Password</h1>
    <form class="form-control max-w-full mx-auto w-96 p-6 rounded-lg  bg-base-100" role="search" method="POST" action="" autocapitalize="characters" autocomplete="off">
      <label class="input-group my-3">
          <span>
              {{ resetPasswordForm.email.label(class="label") }}
          </span>
              {% if resetPasswordForm.email.errors %}
              {{ resetPasswordForm.email(class="input input-bordered w-full") }}
                  {% for error in registerForm.email.errors %}
                  <span class="invalid-feedback">{{ error }}</span>
                  {% endfor %}
              {% else %}
                  {{ resetPasswordForm.email(class="input input-bordered w-full") }}
              {% endif %}
      </label>
      <br>
      {{ resetPasswordForm.submit(class="btn btn-primary font-normal gradient-bg transition-all border-none") }}
      <br>
  </div>
  
  </form>
</div>
{% endblock body %}
{% block results %}{% endblock results %}