{% extends "template.html" %}
{% block title %}Home{% endblock title %}
{% block pageTitle %}Search{% endblock pageTitle %}
{% block navLink %}search{% endblock navLink %}
{% block body %}
{{ super() }}
<form class="form-control min-w-full" role="search" method="POST" action="" autocapitalize="characters" autocomplete="off">
    <div class="input-group mb-3 flex">
      {% if searchForm.ticker.errors %}
      {{ searchForm.ticker(class="input input-bordered w-full") }}
          {% for error in searchForm.ticker.errors %}
          <span class="invalid-feedback">{{ error }}</span>
          {% endfor %}
      {% else %}
          {{ searchForm.ticker(class="input input-bordered w-full") }}
      {% endif %}
      <button class="btn btn-square" id="submit" name="submit" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
      </button>
    </div>
  </form>
{% endblock body %}

{% block results %}
{{ super() }}
{% if data != None %}
<div id="data">
{% if noResults %}
    <h3 class="text-center text-xl font-bold">No Results</h3>
    {% else %}
    <h3 class="text-xl font-bold mb-3">Previous Day Close</h3>
    <table class="table table-normal table-zebra w-full">
        <thead>
            <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Volume</th>
                <th scope="col">Volume Weighted Average</th>
                <th scope="col">Open</th>
                <th scope="col">Close</th>
                <th scope="col">Low</th>
                <th scope="col">High</th>
            </tr>
        </thead>
        <tbody>
            {% for prev in data[0] %}
            <tr class="hover">
                <td>{{ prev.ticker }}</td>
                <td>{{ prev.volume }}</td>
                <td>{{ prev.vwap }}</td>
                <td>{{ prev.open }}</td>
                <td>{{ prev.close }}</td>
                <td>{{ prev.low }}</td>
                <td>{{ prev.high }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>
{% endif %}
{% endblock results %}

{% block footerClass %}fixed-bottom{% endblock footerClass %}