{% extends "template.html" %}
{% block title %}Home{% endblock title %}
{% block pageTitle %}Search{% endblock pageTitle %}
{% block body %}
{{ super() }}
<form class="form-control min-w-full ml-2" role="search" method="POST" action="" autocapitalize="characters"
  autocomplete="off">
  <div class="input-group mb-3 flex">
    {% if searchForm.ticker.errors %}
    {{ searchForm.ticker(class="input input-bordered w-full") }}
    {% for error in searchForm.ticker.errors %}
    <span class="invalid-feedback">{{ error }}</span>
    {% endfor %}
    {% else %}
    {{ searchForm.ticker(class="input input-bordered w-full") }}
    {% endif %}
    <button class="btn btn-square" id="submit" name="submit" type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    </button>
  </div>
</form>
{% endblock body %}

{% block results %}
{{ super() }}
{% if data != None %}
<div id="data">
  {% if noResults %}
  <h3 class="text-center text-5xl font-bold text-primary">No Results</h3>
  {% else %}
  <h1 class="text-5xl text-primary mt-10 mb-10"><strong>{{ ticker }}</strong> Monthly Aggregate Data from {{
    data[0][0][0] }} to {{ data[0][0][1] }}</h1>
  <div class="card bg-base-100 shadow-xl mx-auto" id="candle_div" style="width: 900px; height: 500px;"></div>

  <table class="table table-normal table-zebra w-full">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Volume</th>
        <th scope="col">Volume Weighted Average</th>
        <th scope="col">Open</th>
        <th scope="col">Close</th>
        <th scope="col">Low</th>
        <th scope="col">High</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range((data[0][2]).__len__()) %}
      <tr class="hover">
        <td>{{ data[0][1][i] }}</td>
        <td>{{ data[0][2]['volume'][i] }}</td>
        <td>{{ data[0][2]['vwap'][i] }}</td>
        <td>{{ data[0][2]['open'][i] }}</td>
        <td>{{ data[0][2]['close'][i] }}</td>
        <td>{{ data[0][2]['low'][i] }}</td>
        <td>{{ data[0][2]['high'][i] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if finance_analysis %}
  <h1 class="text-5xl text-primary mt-10 mb-10">Financial Analysis</h1>
  <h3 class="text-xl mt-10 mb-10 text-center">\[P/E=\frac{\text{Share price}}{\text{Earnings per
    share}}={{finance_analysis['PE Ratio (TTM)']}}\]</h3>
  <h3 class="text-xl mt-10 mb-10 text-center">\[EPS=\frac{\text{Net income}-\text{Dividends on preferred
    stock}}{\text{Average outstanding common shares}}={{finance_analysis['EPS (TTM)']}}\]</h3>
  <h3 class="text-xl mt-10 mb-10 text-center">\[Composite\;Score=\frac{\text{Earnings before Interest and
    Taxes}}{\text{Net Fixed Assets}-\text{Working Capital}}={{finance_analysis['Composite Indicator']}}\]</h3>
  {% endif %}

  {% if averageSentiment %} <!--If no tweets found on company.-->
  <h1 class="text-5xl text-primary mt-10 mb-10">Sentiment Analysis</h1>
  <h3 class="text-xl mt-10 mb-10 text-center">Average Sentiment: {{ averageSentiment }}</h3>
  {% if tweets %}
  <h1 class="text-5xl mt-10 mb-10">Tweets:</h1>
  <div class="flex flex-col gap-y-10 md:gap-x-10 md:flex-row md:flex-wrap justify-center">
    <!-- {{ tweet }} -->
    {% for tweet in tweets %}
    {{ macros.card(
    title = tweet.user.name,
    text = ' https'.join(tweet.text.split(' https')[:-1]),
    button = 'Go to Tweet',
    buttonLink = 'https'+tweet.text.split('https')[-1],
    button_external = True,
    verified_tweet = True
    ) }}
    {% endfor %}
  </div>
  {% endif %}
  {% if news %}
  <h1 class="text-5xl mt-10 mb-10">News:</h1>
  <div class="flex flex-col gap-y-10 md:gap-x-10 md:flex-row md:flex-wrap justify-center">
    <!-- {{ news }} -->
    {% for article in news %}
    {{ macros.card(
    title = article.title,
    text = '',
    button = 'Go to Article',
    buttonLink = article.link,
    button_external = True,
    verified_tweet = True
    ) }}
    {% endfor %}
  </div>
  {% endif %}
  <h1 class="text-5xl mt-10 mb-10">Plots:</h1>
  <div class="card bg-base-100 shadow-xl mx-auto" id="sentiment_div" style="width: 900px; height: 500px;"></div>
  <img class="card bg-base-100 shadow-xl mx-auto" src="{{ url_for('static', filename='wordcloud.png') }}"
    alt="wordcloud">
  {% endif %}
  {% endif %}
</div>
{% endif %}
{% endblock results %}

{% block script %}
<script type="text/javascript">
  google.charts.load('current', { 'packages': ['corechart'] });

  function drawCharts() {
    drawCandleChart();
    drawSentimentChart();
  }

  function drawCandleChart() {
    {% if data != None %}
    var data = google.visualization.arrayToDataTable([
      {% for i in range((data[0][2]).__len__()) %}
  ["{{ data[0][1][i].__str__() }}", {{ data[0][2]['low'][i] }}, {{ data[0][2]['open'][i] }}, {{ data[0][2]['close'][i] }}, {{ data[0][2]['high'][i] }}],
    {% endfor %}
    ], true);

  var options = {
    legend: 'none',
    candlestick: {
      fallingColor: { strokeWidth: 0, fill: '#ff0000' }, // red
      risingColor: { strokeWidth: 0, fill: '#1EB854' },   // green
    },
    backgroundColor: { strokeWidth: 0, fill: '#171212' },
    chartArea: {
      backgroundColor: { strokeWidth: 0, fill: '#171212' },
    },
    hAxis: {
      title: 'Date',
      textStyle: {
        color: '#fff',
      },
      titleTextStyle: {
        color: '#fff'
      }
    },
    vAxis: {
      title: 'Price ($)',
      textStyle: {
        color: '#fff',
      },
      titleTextStyle: {
        color: '#fff'
      }
    },
    title: '{{ ticker }}, {{ data[0][1][0].__str__() }} - {{ data[0][1][-1].__str__() }}',
    titleTextStyle: {
      color: '#fff',
    },
  };

  var chart = new google.visualization.CandlestickChart(document.getElementById('candle_div'));

  chart.draw(data, options);
  {% endif %}
  }

  function drawSentimentChart() {
    {% if data != None %}
    // Define the chart to be drawn.
    var data = google.visualization.arrayToDataTable([
      ['Sentiment', 'Frequency'],
      {% for i in range(sentimentData.__len__()) %}
  ['{{ i }}', {{ sentimentData.iloc[i]['Sentiment'] }}],
    {% endfor %}
    ]);

  var options = {
    legend: 'none',
    candlestick: {
      fallingColor: { strokeWidth: 0, fill: '#ff0000' }, // red
      risingColor: { strokeWidth: 0, fill: '#1EB854' },   // green
    },
    backgroundColor: { strokeWidth: 0, fill: '#171212' },
    chartArea: {
      backgroundColor: { strokeWidth: 0, fill: '#171212' },
    },
    colors: ['#1EB854'],
    hAxis: {
      title: 'Sentiment',
      textStyle: {
        color: '#fff',
      },
      titleTextStyle: {
        color: '#fff'
      }
    },
    vAxis: {
      title: 'Frequency',
      textStyle: {
        color: '#fff',
      },
      titleTextStyle: {
        color: '#fff'
      }
    },
    title: 'Sentiment of Tweets (Histogram)',
    titleTextStyle: {
      color: '#fff',
    },
    histogram: {
      bucketSize: 0.25,
      maxNumBuckets: 8,
      minValue: -1,
      maxValue: 1
    }
  };

  // Instantiate and draw the chart.
  var chart = new google.visualization.Histogram(document.getElementById('sentiment_div'));
  chart.draw(data, options);
  {% endif %}
  }

  google.charts.setOnLoadCallback(drawCharts);
</script>
{% endblock script %}


{% block footerClass %}fixed-bottom{% endblock footerClass %}