{% extends "education/article-template.html" %}
{% block educateTitle%}PE Ratio{% endblock educateTitle %}
{% block categoryTitle %}Statistics{% endblock categoryTitle %}
{% block headerTitle %}PE Ratio{% endblock headerTitle %}
{% block categoryLink %}statistics{% endblock categoryLink %}
{% block section %}

{% endblock section %}
{% block content %}
  
  {{ macros.section(
    header='Commodity Channel Index (CCI)', 
    text="The Commodity Channel Index (CCI) is a momentum-based oscillator developed by Donald Lambert that is used to determine when an investment vehicle is overbought or oversold."
    ) }}
    <img class="container mx-auto px-80" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Commodity_channel_index_%28CCI%29.png/400px-Commodity_channel_index_%28CCI%29.png" alt="">
  {{ macros.section(
    header='Using the CCI to Assess Price Trends', 
    text="The indicator is used to assess the direction and strength of price trends, which allows traders to make decisions on entering or exiting trades, refraining from taking a trade, or adding to an existing position. When the CCI moves from negative or near-zero territory to above 100, it may indicate that a new uptrend is starting. Traders can then watch for a pullback in price followed by a rally in both price and the CCI to signal a buying opportunity. Similarly, if the indicator goes from positive or near-zero readings to below -100, it may indicate a downtrend is starting, which would be a signal to get out of longs or start watching for shorting opportunities."
    ) }}

  {{ macros.section(
    header='Spotting Overbought and Oversold Levels', 
    text="The CCI is also used to spot overbought and oversold levels, which are not fixed since the indicator is unbound. Traders look at past readings on the indicator to get a sense of where the price reversed. Divergences, when the price is moving in the opposite direction of the indicator, can also indicate a weakness in a trend."

    ) }}

  {{ macros.section(
    header='Differences with Other Oscillators', 
    text="One of the main differences between the CCI and other oscillators like the Stochastic Oscillator is that the CCI is unbounded while the Stochastic Oscillator is bound between zero and 100. This means that the CCI will provide different signals at different times, such as overbought and oversold readings."
  
    ) }}

  {{ macros.section(
    header='Using the CCI in Conjunction with Other Indicators', 
    text="However, due to the subjective nature of the CCI in determining overbought and oversold conditions and its lagging nature, it is best used in conjunction with other forms of technical analysis or indicators to help confirm or reject CCI signals. Additionally, traders should be aware of whipsaws, where a signal is provided by the indicator but the price doesn't follow through, resulting in a loss on the trade."

    ) }}

{% endblock content %}
