{% extends "education/article-template.html" %}
{% block educateTitle%}PE Ratio{% endblock educateTitle %}
{% block categoryTitle %}Statistics{% endblock categoryTitle %}
{% block headerTitle %}PE Ratio{% endblock headerTitle %}
{% block categoryLink %}statistics{% endblock categoryLink %}
{% block section %}

{% endblock section %}
{% block content %}
  
  {{ macros.section(
    header='Moving Average Convergence/Divergence (MACD)', 
    text="Moving average convergence/divergence (MACD) is a trend-following momentum indicator that shows the relationship between two exponential moving averages (EMAs) of a security's price. The MACD line is calculated by subtracting the 26-period EMA from the 12-period EMA. A 9-day EMA of the MACD line is called the signal line, which is then plotted on top of the MACD line, which can function as a trigger for buy or sell signals. Traders may buy the security when the MACD line crosses above the signal line and sell when the MACD line crosses below the signal line."

    ) }}
  {{ macros.section(
    header='Interpretation', 
    text="MACD indicators can be interpreted in several ways, but the more common methods are crossovers, divergences, and rapid rises/falls. An EMA is a type of moving average that places a greater weight and significance on the most recent data points. The exponential moving average is also referred to as the exponentially weighted moving average. It reacts more significantly to recent price changes than a simple moving average, which applies an equal weight to all observations in the period."
    ) }}

  {{ macros.section(
    header='Positive and Negative Value', 
    text="MACD has a positive value whenever the 12-period EMA is above the 26-period EMA and a negative value when the 12-period EMA is below the 26-period EMA. The level of distance that MACD is above or below its baseline indicates that the distance between the two EMAs is growing."

    ) }}

  {{ macros.section(
    header='Positive and Negative Value', 
    text="MACD indicators can be interpreted in several ways, but the more common methods are crossovers, divergences, and rapid rises/falls. MACD has a positive value whenever the 12-period EMA is above the 26-period EMA and a negative value when the 12-period EMA is below the 26-period EMA. The level of distance that MACD is above or below its baseline indicates that the distance between the two EMAs is growing."
  
    ) }}

  {{ macros.section(
    header='Histogram', 
    text="MACD is often displayed with a histogram that graphs the distance between MACD and its signal line. Traders use the MACD's histogram to identify when bullish or bearish momentum is high and possibly overbought/oversold.."

    ) }}

  {{ macros.section(
    header='Relative Strength Index (RSI)', 
    text="Another commonly used indicator is the relative strength index (RSI) which aims to signal whether a market is considered to be overbought or oversold in relation to recent price levels. RSI is an oscillator that calculates average price gains and losses over a given period of time."
  
    ) }}

  {{ macros.section(
    header='Comparison with RSI', 
    text="MACD measures the relationship between two EMAs, while the RSI measures price change in relation to recent price highs and lows. These two indicators are often used together to give analysts a more complete technical picture of a market. However, because they measure different factors, they sometimes give contrary indications."
    
    ) }}

  {{ macros.section(
    header='Confirmation', 
    text="One of the main problems with a moving average divergence is that it can often signal a possible reversal, but then no actual reversal happens. Therefore, confirmation should be sought by trend-following indicators, such as the Directional Movement Index (DMI) system and its key component, the Average Directional Index (ADX). The ADX is designed to indicate whether a trend is in place or not. Investors following MACD crossovers and divergences should double-check with the ADX before making a trade on an MACD signal."
      
   ) }}
{% endblock content %}
